<article>
    <h1>Heading</h1>
    {% lorem 5 p %}
    <section class="details">
        <div class="row">
            <section class="col-3">
                <h3>Heading 3</h3>
                <p>Foo</p>
            </section>
            <section class="col-3">
                <h3>Heading 3</h3>
                <p>Foo</p>
            </section>
            <section class="col-3">
                <h3>Heading 3</h3>
                <p>Foo</p>
            </section>
            <section class="col-3">
                <h3>Heading 3</h3>
                <p>Foo</p>
            </section>
        </div>
        <div class="row">
            <section class="col-4">
                <h3>Heading</h3>
                <p>Bar</p>
            </section>
            <section class="col-4">
                <h3>Heading</h3>
                <p>Bar</p>
            </section>
            <section class="col-4">
                <h3>Heading</h3>
                <p>Bar</p>
            </section>
        </div>
    </section>
</article>
