{% extends "base.html" %}

{% comment %}
    NOTE: This may need to be reimplemented as whatever nonsense the analysis pages end up being.
{% endcomment %}

{% block pagetitle %}Competing Visions | {{ block.super }}{% endblock %}

{% block content %}
<article class="expressive">
    <header class='decorated'>
        <h1>Competing Visions</h1>
    </header>
    <section class="featured">
        <p>A contest is underway to shape Eurasia's future. Regional powers are putting forward ambitious plans for building roads, railways, pipelines, and other hard infrastructure across the region. These new connections could deepen integration and expand prosperity. They also have the potential to reconfigure relationships, reroute flows of goods and people, and shift power within and between states. But critical questions remain about the feasibility of underlying projects, which face obstacles as big and diverse as the region itself. <em><strong>Reconnecting Asia</strong></em> is your front row seat to watch whether these visions become reality.</p>
        <p>The maps below illustrate the competing visions of four leading actors. In line with Reconnecting Asia's focus, they concentrate on infrastructure. Given that each nation's vision is a function of its own interests, capabilities, history, geography, and other factors, these maps include a variety of components, all of which are based on official sources. Collectively, they provide an aspirational canvas against which actual progress can be tracked. Click on items below each map to explore the projects and initiatives underlying these visions. Check back as this collection expands to include the visions of more key actors and adds new data to tell this story as it unfolds.</p>
    </section>
    <section>
        <img src="https://s3.amazonaws.com/reconasia-production/static/img/competing-visions/Competing_visions_One_Belt_One_Road.jpg" alt="Map of China's Vision">
        <p>Announced in 2013, China's <strong>One Belt One Road (OBOR</strong>) initiative drives across the Eurasian landmass in two grand sweeps: the ocean-based <strong>21<sup>st</sup> Century Maritime Silk Road</strong> and the overland <strong>Silk Road Economic Belt</strong>. As Chinese President <strong>Xi Jinping</strong>'s signature foreign policy effort, OBOR is striking for its opacity as well as its ambition. On the surface, it imagines a future Eurasia where all routes lead to Beijing. As an open-ended framework, however, the initiative is less clear. It combines new projects and older efforts, covers an uncertain geographic scope, and includes efforts to strengthen hard infrastructure, soft infrastructure, and even cultural ties.</p>
    </section>
    <section>
        <img src="https://s3.amazonaws.com/reconasia-production/static/img/competing-visions/Competing_visions_Japan.jpg" alt="Map of Japan's vision" />
        <p>Prioritizing east-west connections, Japan's vision stems from decades of investing in Southeast Asia, where existing infrastructure reflects the needs of Japanese supply chains, especially maintaining access to the sea. Japan is acting swiftly to defend this incumbent advantage, dedicating funding to expand &ldquo;high-quality and sustainable infrastructure&rdquo; in the region. Supporting the <strong>Master Plan on ASEAN Connectivity</strong>, Japan is backing a number of new land and maritime corridors that would increase connectivity between the Indian Ocean and the South China Sea. Japanese Prime Minister <strong>Shinzo Abe</strong> has also expanded Japan's diplomatic footprint, becoming the first sitting Japanese leader to visit all five countries of Central Asia.</p>
    </section>
    <section>
        <img src="https://s3.amazonaws.com/reconasia-production/static/img/competing-visions/Competing_Visions_South_Korea.jpg" alt="Map of South Korea's vision">
        <p>President <strong>Park Geun-hye</strong>'s <strong>Eurasian Initiative</strong> is expansive, incorporating railways from Seoul to the heart of Europe, shipping lanes through the Arctic, and enhanced fiber optic networks such as the <strong>Trans-Eurasian Information Network (TEIN)</strong> throughout Southeast Asia. Through increased diplomacy, South Korea is laying the groundwork for stronger relationships in the region and expanding its commercial relationship with <strong>Kazakhstan</strong> in particular. Accounting for <strong>North Korea</strong>, this vision includes an imagined rail line through the demilitarized zone and an alternative undersea route for bypassing the North and connecting to <strong>Russia</strong>'s rail network.</p>
    </section>
    <section>
        <img src="https://s3.amazonaws.com/reconasia-production/static/img/competing-visions/Competing-Visions_India-Vision.jpg" alt="Map of India's Vision" />
        <p>While primarily focused on increasing connectivity within its own borders, India has tried to revive the <strong>South Asian Association for Regional Cooperation (SAARC)</strong> as a forum for regional integration. Other efforts reflect India's geopolitical interests. By developing <strong>Chabahar Port</strong> in <strong>Iran</strong>, for example, India aims to bypass Pakistan and access overland routes to Europe and Central Asia. Meanwhile, Prime Minister <strong>Narendra Modi</strong>'s <strong>&ldquo;Act East&rdquo;</strong> policy aims to strengthen links between India and <strong>ASEAN</strong> nations, giving India's landlocked northeast region better access to its southern ports and establishing new land corridors connecting India to <strong>Thailand</strong> through <strong>Myanma</strong>r.</p>
    </section>
</article>
{% endblock %}
