{% extends "base.html" %}

{% block pagetitle %}
The Database | {{ block.super }}
{% endblock %}


{% block bodyclass %}database-landing{% endblock %}

{% block content %}
    <header class="decorated">
        <h1>The Database</h1>
    </header>
    <section role="search" class="search">
        <form>
            <ul class='dropdown'>
                <li>Categories</li>
            </ul>
            <div class="searchBar">
                <input type="text" class="primary" name="name" value="">
                <button type="button" name="search">Search</button>
            </div>
        </form>
    </section>
    <section class="columnar">
        <h2>Featured Entries</h2>
        <div class="wrap">
            {% for item in featured_items.items.all %}{% with item.content_object as object %}
            <div class="panel">
                <h3><a href="{{object.get_absolute_url}}">{% if object.name %}{{object.name}}{% else %}{{object.title}}{% endif %}</a></h3>
                {{object.description_rendered|safe|truncatewords_html:100}}
                <p><a href="{{object.get_absolute_url}}">Read More</a></p>
            </div>
            {% endwith %}
            {% endfor %}
        </div>

    {% comment %}
        TODO: Featured item selector.
    {% endcomment %}
    </section>
    <nav role="navigation">
        <ul>
            <li><a class="button" href="">Glossary</a></li>
            <li><a class="button" href="">Methodology</a></li>
        </ul>
    </nav>
{% endblock %}
