{% extends "base.html" %}

{% block bodyclass %}database-landing{% endblock %}

{% block content %}
    <header class="decorated">
        <h1>The Database</h1>
    </header>
    <section role="search" class="search">
        <form>
            <select class="" name="">
                <option value="option">option</option>
            </select>
            <div class="searchBar">
                <input type="text" class="primary" name="name" value="">
                <button type="button" name="search">Search</button>
            </div>
        </form>
    </section>
    <section class="featured">
        <h2>Featured Entries</h2>
        {% lorem 2 p %}
    {% comment %}
        TODO: Featured item selector.
    {% endcomment %}
    </section>
    <nav role="navigation">
        <ul>
            <li><a class="button" href="">Glossary</a></li>
            <li><a class="button" href="">Methodology</a></li>
        </ul>
    </nav>
{% endblock %}
