{% extends 'base.html' %}{% load static %}

{% block bodyclass %}home{% endblock %}

{% block content-shell %}
<section id='map' class='poster'>
    <a href="{% url 'website-map' %}">
        <div class="inner">
                <h2>Explore</h2>
                <h3>The Map</h3>
                <img src='{% static "img/white_arrow.svg" %}' alt="Arrow button" />
        </div>
    </a>
</section>
<section id='mission'>
    <div class="inner">
        <p><strong>Reconnecting Asia</strong> maps new linkages&mdash;roads, railways, and other infrastructure&mdash;that are reshaping economic and geopolitical realities across the continent. Through data curation and objective analysis, the project aims to fill Asia's infrastructure-information gap, squaring lofty ambitions with facts on the ground.</p>
    </div>
</section>
<section id='video' class='poster'>
    <div class="inner">
        <a class="play button" href="https://vimeo.com/177601766">Play</a>
    </div>
</section>
<section id='analysis'>
    <div class="inner">
        {% comment %}
            TODO: Replace with actual content
        {% endcomment %}
        <div>
            <h3><a href="#">A Silk Road for the 21st Century?</a></h3>
            <h5 class='date'>July 2016</h5>
            <h4>By Dr. Thomas Fingar</h4>
        </div>
        <div>
            <h2 class="highlighter"><a href="#"><span>Expert</span><br><span>analysis</span></a></h2>
        </div>
    </div>
</section>
<section id='database' class='poster'>
    <a href="{% url 'database-home' %}">
        <div class="inner">
            <h2 class="highlighter"><span>The</span><br><span>Database</span></h2>
            <p>Search hundreds of projects and the people, organizations, and events behind them.</p>
        </div>
    </a>
</section>
<section id='featured-analysis' class='columnar'>
    <h2>News and Features</h2>
    {# TODO: Replace with real stuff once there is real stuff #}
    <div class="wrap">
        <div class="analysis panel">
            <h3><a href="">What Rio can learn from Russia</a></h3>
            <h5 class='date'>27 June 2016</h5>
            <p>As the 2016 Summer Games approach, this $1.4 billion road in Sochi highlights how embezzlement can plague Olympic preparations.</p>
            <footer>
                <p><a href="">Read More</a></p>
            </footer>
        </div>
        <div class="analysis panel">
            <h3><a href="">Vying for the next Dubai</a></h3>
            <h5 class='date'>25 June 2016</h5>
            <p>Touted as a "New Dubai" and a "game-changing development," this dry port and logistics center on the Kazakhstan-China border could be a bellwether for other ambitious One Belt, One Road projects.</p>
            <footer>
                <p><a href="">Read More</a></p>
            </footer>
        </div>
    </div>
    {% comment %}
    <div class="wrap">{% for entry in featured_analyses.entries.published %}
        <div class="analysis teaser">
            <h3><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h3>
            <h5 class='date'>{{entry.publication_date|date}}</h5>
            {{entry.description_rendered|safe}}
        </div>{% endfor %}
    </div>
    {% endcomment %}
</section>
<section id='visions'>
    <div class="poster">
        <a href="{% url 'competing-visions' %}">
            <img src="{% static 'img/banners/CompetingVisions_graphic.jpg' %}" alt="Competing Visions teaser image" />
            <div class="label">
                <h3>Competing Visions</h3>
                <p>See tomorrow's supercontinent through the eyes of regional powers.</p>
            </div>
        </a>
    </div>
    <div class="poster">
        <a href="{% url 'historical-atlas' %}">
            <img src="{% static 'img/banners/Historical_Atlas_graphic.jpg' %}" alt="Historical Atlas teaser image" />
            <div class="label">
                <h3>Historical Atlas</h3>
                <p>Explore the rise and fall of trade, technology, and civilizations.</p>
            </div>
        </a>
    </div>
</section>
<section id="fantasy" class='columnar'>
    <h2>From the Field</h2>
    <div class="wrap">
        <div class="poster">
            <figure>
                <img src="{% static 'img/homepage/Khorgos_photo.jpg' %}" alt="Photo of a dry port in Khorgos" />
                <figcaption>Khorgos Dry Port by David Parker</figcaption>
            </figure>
        </div>
        <div class="poster">
            <figure>
                <img src="{% static 'img/homepage/Gwadar_port.jpg' %}" alt="Photo of Gwadar Port" />
                <figcaption>Gwadar Port by Umargondal</figcaption>
            </figure>
        </div>
        <div class="callout">
            <p>
                <a class="button gem" href="">Submit Content</a>
            </p>
        </div>
    </div>
</section>
{% endblock content-shell %}


{% block extrahead %}
<script src="{% static 'js/lib/zepto.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/lib/magnific-popup.css' %}">
<script src="{% static 'js/lib/jquery.magnific-popup.min.js' %}"></script>
{% endblock %}


{% block postbodyjs %}
<script type="text/javascript">
    Zepto(function($){
        $('#video a.play').magnificPopup({
            type:'iframe',
            iframe: {
                patterns: {
                    vimeo: {
                        index: 'vimeo.com/',
                        id: '/',
                        src: '//player.vimeo.com/video/%id%?color=abd58c&autoplay=1'
                    }
                }
            }
        });
    });
</script>
{% endblock %}
