# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Project stuff:
/.env
.idea/*

/serve/staticfiles/*
!/serve/staticfiles/.gitkeep

# Ignore media directory
/media

# Ignore tmp dir
/tmp

# Ignore .dump files
*.dump

# Node modules
/node_modules
/website/assets/lib
