boto==2.39.0
Django==1.9.7
dj_database_url
django-cachalot==1.2.1
django-extensions>=1.6,<2.0
django-filer==1.2.2
django-heroku-memcacheify==1.0.0
django-leaflet==0.18.1
django-markymark==0.9.1
django-maintenancemode==0.11.2
django-mptt==0.8.4
django-filter==0.13.0
djangorestframework==3.3.3
djangorestframework-filters==0.8.0
djangorestframework-gis==0.10.1
django-pylibmc==0.6.1
Django-Select2==5.8.6
django-storages==1.4.1
django-suit==0.2.18
django-taggit==0.18.0
iso3166==0.7
iso4217==1.3.20160224
nameparser==0.3.16
pylibmc==1.5.1
psycopg2==2.6.1
pytz==2016.4
raven>=5.13.0,<6.0.0
waitress==0.9.0
git+https://github.com/CSIS-iLab/fieldbook-python.git@8b153e#fieldbook
