{% for entry in entry_list %}{% load html_text from html_utils %}
<div class="analysis panel">
    <header>
        <h3><a href="{{entry.get_absolute_url}}">{{entry.title}}</a></h3>
        <div class="subheader">
        <h5><time datetime='{{entry.publication_date|date:"c"}}'>{{entry.publication_date|date}}</time>
            {% if entry.author %}| By {{entry.author}}</h5>{% endif %}
            
        </div>
    </header>
    {% if entry.description_rendered %}
    {{entry.description_rendered|html_text:'p,b,i,em,strong'|truncatewords_html:max_words|safe}}
    {% elif entry.content_rendered %}
    {{entry.content_rendered|html_text:'p,b,i,em,strong'|truncatewords_html:max_words|safe}}
    {% else %}
    <p>&mdash;</p>
    {% endif %}
    

   <a class="green-button read-more" href="{{entry.get_absolute_url}}" alt="Search">
            <div class="button-text">Read More</div>
        </a>
        
    
</div>{% endfor %}
