<div class="analysis panel">
    <h3><a href="">The Great Asian Highway&rsquo;s Invisible Roadblocks</a></h3>
    <h5 class='date'>27 June 2016</h5>
    <p>Building new roads won’t be enough to speed transportation across Southeast Asia. Outdated rules and regulations, which create delays at borders, must be upgraded as well.</p>
    <footer>
        <p><a href="">Read More</a></p>
    </footer>
</div>
<div class="analysis panel">
    <h3><a href="">Vying for the next Dubai</a></h3>
    <h5 class='date'>25 June 2016</h5>
    <p>Touted as a "New Dubai" and a "game-changing development," this dry port and logistics center on the Kazakhstan-China border could be a bellwether for other ambitious One Belt, One Road projects.</p>
    <footer>
        <p><a href="">Read More</a></p>
    </footer>
</div>
