{% extends "base.html" %}

{% block extrahead %}{% spaceless %}
<meta property="og:url" content="{{request.build_absolute_uri}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{object.title}}">
<meta name="twitter:title" content="{{object.title|truncatechars:70}}">
{% if object.description %}
<meta name="description" content="{{object.description_rendered|striptags}}">
<meta property="og:description" content="{{object.description_rendered|striptags}}">
<meta name="twitter:description" content="{{object.description_rendered|striptags|truncatechars:200}}">
{% endif %}
{% if object.featured_image %}
<meta property="og:image" content="{{object.featured_image.url}}">
<meta name="twitter:image" content="{{object.featured_image.url}}">
{% endif %}
{% endspaceless %}{% endblock %}

{% block pagetitle %}{{object.title}} | {{ block.super }}{% endblock %}

{% block content %}
{% if not entry_visible  %}
<div class="message banner">
    <p>This entry is currently not visible to the public. <a href="{% url 'admin:writings_entry_change' object.id %}">Look the admin</a> for details.</p>
</div>
{% endif %}
<article class="">
    <h2>{{object.title}}</h2>
    {% if object.author %}
    <div class="byline">
        <p>{{object.author}}</p>
    </div>
    {% endif %}
    {{object.content_rendered|safe}}
</article>

{% endblock %}
