{% extends "base.html" %}{% load static %}

{% block extrahead %}
{% include "_html_head.html" with title=object.title description=object.description_rendered featured_image=object.featured_image share_text=object.share_text %}
<link rel="stylesheet" href="{% static 'js/lib/social-share-kit/css/social-share-kit.css' %}">
<script src="{% static 'js/lib/social-share-kit/js/social-share-kit.min.js' %}"></script>
{% endblock %}

{% block pagetitle %}{{object.title}} | {{ block.super }}{% endblock %}

{% block bodyclass %}entry{% endblock %}

{% block content %}
{% if not entry_visible  %}
<div class="message banner">
    <p>This entry is currently not visible to the public. <a href="{% url 'admin:writings_entry_change' object.id %}">Look the admin</a> for details.</p>
</div>
{% endif %}
<article>
    <aside>
        <h2>Analysis {% if entry.categories.count != 0 %}| {{entry.categories.first.name }}{% endif %}</h2>
    </aside>
    <header class="decorated featured">
        <h1>{{object.title|title}}</h1>
        <h2>{{object.subtitle|title}}</h2>
    </header>
    <section class="subheader details">
        <span>
            {% if object.author %}
            <span class="author">
                By {{object.author}}
            </span>
            {% endif %}
            <span class="publication_date"><time datetime="{{object.publication_date|date:'c'}}">{{object.publication_date|date}}</time></span>
        </span>
        <span class="social-icons ssk-group">
            <a class="ssk ssk-icon ssk-facebook" href=""></a>
            <a class="ssk ssk-icon ssk-twitter"  href="https://twitter.com/share"></a>
        </span>
    </section>
    {% if object.featured_image %}
    <section class="featured_image">
        <figure>
            <img src="{{object.featured_image.url}}" alt="{{object.featured_image.default_alt_text}}" />
            <figcaption>{{object.featured_image.default_caption|default:""}}</figcaption>
        </figure>
    </section>
    {% endif %}
    <section class="body">
    {{object.content_rendered|safe}}
</section>
<footer>
    <h3>Related Entries</h3>
    <ul class="clean">{% for entry in object.related_entries.all %}
        <li>
            <a href="{{entry.get_absolute_url}}"><span>{{ entry.title|truncatechars:30 }}</span></a>
            {% if entry.author %}
            | By <span class='author'>{{entry.author|truncatechars:30}}</span>
            {% endif %}
        </li>{% endfor %}
    </ul>
    <ul class="links clean">
        <li>
            {% with object.get_previous_published_entry as entry %}{% if entry %}
            <a href="{{entry.get_absolute_url}}">
                <span class='action'>Previous</span>
                <span class='title'>{{ entry.title|truncatechars:30 }}</span>
                {% if entry.author %}
                <span class='author'>{{entry.author|truncatechars:30}}</span>
                {% endif %}
            </a>
            {% endif %}{% endwith %}
        </li>
        <li>
            {% with object.get_next_published_entry as entry %}{% if entry %}
            <a href="{{entry.get_absolute_url}}">
                <span class='action'>Next</span>
                <span class='title'>{{ entry.title|truncatechars:30 }}</span>
                {% if entry.author %}
                <span class='author'>{{entry.author|truncatechars:30}}</span>
                {% endif %}
            </a>
            {% endif %}{% endwith %}
        </li>
    </ul>
</footer>
</article>
{% endblock %}


{% block postbodyjs %}
<script type="text/javascript">
    Zepto(function($){
        SocialShareKit.init();
    });
</script>
{% endblock %}
