{% extends "base.html" %}

{% block pagetitle %}Analysis | {{ block.super }}{% endblock %}

{% block bodyclass %}analysis{% endblock %}

{% block content-shell %}
<section class='poster'>
    <header>
        <h1>Analysis</h1>
    </header>
</section>
<blockquote>
    <p class="quotation">It would be a huge mistake to ignore the significance of the reconnecting of Eurasia. It would be equally dangerous to cast it as a geopolitical threat to the United States. We have a limited role in shaping this mega-development, but we certainly could alienate ourselves from the central actors involved in it. We have time to assess this objectively. It should be on any agenda for the next presidency.</p>
    <p class='attribution'>Dr. John J. Hamre</p>
</blockquote>
{% endblock %}
