body {
    font: 15px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
}

#wrapper {
    max-width: 1000px;
    margin: 10px auto;

}


/*
    Map styles
*/

.mapboxgl-popup {
        max-width: 400px;
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.marker-title {
    font-weight: 700;
}
