html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
    Map styles
*/
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.marker-title {
  font-weight: 700; }

body {
  font: 16px "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif; }

#wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  #wrapper::after {
    clear: both;
    content: "";
    display: table; }

.row {
  display: block; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-1:last-child {
    margin-right: 0; }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-2:last-child {
    margin-right: 0; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-5:last-child {
    margin-right: 0; }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-6:last-child {
    margin-right: 0; }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-7:last-child {
    margin-right: 0; }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-8:last-child {
    margin-right: 0; }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-9:last-child {
    margin-right: 0; }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-10:last-child {
    margin-right: 0; }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-11:last-child {
    margin-right: 0; }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }

.search-map {
  display: block;
  position: relative; }
  .search-map::after {
    clear: both;
    content: "";
    display: table; }
  .search-map .map-container {
    width: inherit; }
  .search-map .search-controls {
    position: absolute;
    top: 2%;
    right: 1.5%;
    height: auto;
    width: 33%;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.2); }
    .search-map .search-controls input {
      width: 100%;
      padding: 8px; }

/*
    Map styles
*/
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.marker-title {
  font-weight: 700; }
