<div class="poster">{% load static %}
    <a href="{% url 'competing-visions' %}">
        <img src="{% static 'img/banners/CompetingVisions_graphic.jpg' %}" alt="Competing Visions teaser image" />
        <div class="label">
            <h3>Competing Visions</h3>
            <p>See tomorrow's supercontinent through the eyes of regional powers.</p>
        </div>
    </a>
</div>
<div class="poster">
    <a href="{% url 'historical-atlas' %}">
        <img src="{% static 'img/banners/Historical_Atlas_graphic.jpg' %}" alt="Historical Atlas teaser image" />
        <div class="label">
            <h3>Historical Atlas</h3>
            <p>Explore the rise and fall of trade, technology, and civilizations.</p>
        </div>
    </a>
</div>
