@import "variables";
@import "mixins";
@import "lib/neat/neat";


.about {
    .video-container {
        position: relative;
        margin: 2rem 0px;

        >iframe {
            height: 400px;
            width: 650px;
            margin: 0 auto;
            display: block;
        }
    }

    header {
        margin: $small-spacing 0;
    }
    h1{
        text-align: center;
        margin-bottom:0;
    }
    h2 {
        font: $section-hedier-size $serif-font-family;
        text-align: center;


        display: block;
        line-height: 1;
        padding: $tiny-spacing * 2;
        margin: 0;
    }
    

    section:not(:first-child) {
        margin-top: $section-spacing;
        margin-bottom: $section-spacing;
    }

    section.featured {
        margin-top: 10px;
    }

    section.leadership>.profiles {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-start);

        >figure {
            display: block;
            @include flex(1 1 25%);
            max-width: none;
            min-height: 170px;
            margin-bottom: $medium-spacing;

            img {
                width: 80%;
                max-width: 250px;
                height: auto;
                margin: 0 auto;
            }

            figcaption {

                margin: $tiny-spacing auto 0;
                text-align: center;
                width: 80%;
                max-width: 250px;

                .name {
                    text-transform: uppercase;
                    margin-bottom: $tiny-spacing;
                    margin-top: 8px;
                }
                .position {
                    font-style: italic;
                    line-height: 1.4;
                    font-size: .8rem;
                }
            }
        }

        @include media($medium-break) {
            @include flex-direction(row);

            >figure {
                max-width: 25%;
                margin-bottom: 0;
            }
        }
    }

    ul.credits {
        list-style-type: none;
        padding-left: $large-spacing;

        li {
            font-family: $sans-font-family;
            font-weight: 700;
            text-transform: uppercase;
            span {
                font-family: $serif-font-family;
                font-style: italic;
                font-weight: 200;
                text-transform: none;
            }
        }
    }
}


nav#about-nav {
    background-color: #f1f2f4;
    height: 45px;
    position: fixed;
    width: 100%;
    top: 60px;
    font-size: 90%;
    z-index: 5;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100vw;
        height: 45px;
        background-color: #f1f2f4;
    }


    &:before {
        right: calc(100% - 1px);
    }

    #about-nav-block {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 6;
        flex-direction: row;


        .on-this-page {
            color: #3D8283;
            display: none;
            margin-right: 20px;
            @include media($medium-break) {
            display: block;

        }
        }

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 0px;


            li {
                padding-right: 20px;
                margin-bottom: 0px;

                a {
                    padding-right: 8px;
                    color: black;

                    &:hover {
                        transition: padding .2s ease-in-out, color .2s ease-in-out;
                        padding-right: 4px;
                        color: #3D8283;
                    }


                    &:after {
                        font-family: fontello;
                        content: "\E804";
                        color: #3D8283;
                        font-size: .7rem;
                        font-weight: 700;
                        padding-left: 4px;
                    }

                    &:hover:after {
                        transition: color .2s ease-in-out, padding .2s ease-in-out;
                        padding-left: 8px;
                        color: black;
                    }
                }
            }
        }
    }
}