@import "variables";
@import "mixins";
@import "lib/bourbon/bourbon",
"lib/neat/neat";
.right-div {
    display: block;
}

.left-div {
    display: block;
}

.entry-title {
    font-family: Merriweather;
}

a .entry-title {
    text-decoration: none;
    color: black;
    &:hover,
    &:focus {
        color: $green;
        transition: color 0.4s;
    }
}

a .entry-title:after {
    font-family: "fontello";
    content: "\E804";
    color: $green;
    font-size: 70%;
    padding-left: 4px;
}

h2.section-title {
    font-family: Lato;
    font-size: 18px;
    letter-spacing: 2.1px;
    color: $green;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 1rem auto 2rem
}

.content-wrapper {
    max-width: 1000px;
    display: relative;
    margin: 0 auto;
}

#map-hero {
    background: url($mobile-map);
    position: relative;
    background-size: cover;
    width: 100%;
    display: block;
    height: 60vh;
    min-height: 400px;
    background-repeat: no-repeat;
    @include media($medium-break) {
        background: url($tablet-map);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    @include media($large-break) {
        background: url($desktop-map);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .inner {
        position: absolute;
        bottom: 0px;
        padding: $mobile-margins;
        font-size: 1.1rem;
        @include media($medium-break) {
            width: 50%;
            display: block;
            bottom: 0px;
            right: 0px;
        }
    }
}

section h2 {
    margin-bottom: 0px;
}

#featured-articles {
    background-color: $pale-grey;
    padding: $mobile-margins;
    position: relative;
    .main-articles {
        @include media($medium-break) {
            margin-top: -100px;
        }
    }
    .featured-entry {
        padding-bottom: 1rem;
    }
    h2.section-title {
        margin: auto 0;
    }
    h3.entry-title {
        margin: 0 0 0rem;
    }
    h2 {
        margin-bottom: 0px;
    }
    .featured-entry.entry-1,
    .featured-entry.entry-2,
    .articles-section-title {
        background-color: white;
        padding: 1rem $mobile-margins;
        @include media($medium-break) {
            padding: 1rem 2rem;
            width: 70%;
        }
       
    }
     .articles-section-title {
            @include media($medium-break) {
                padding-top: 2rem;
            }
        }


    .featured-entry.entry-3 {
        padding-top: 1rem;
    }
    .featured-entry.entry-1 {
        .entry-title {
            font-size: 25px;
        }
    }
    .entry-byline {
        font-size: .9em;
        color: $green !important;
    }
    .featured-entry.entry-2 {
        .entry-title {
            font-size: 20px;
        }
    }
    .featured-entry.entry-3 {
        margin: 1rem 0 .5rem;
    }
    .featured-entry.entry-4 {
        margin: 0rem 0 1.5rem;
    }
.featured-entry.entry-4, .featured-entry.entry-3 {
    @include media($medium-break) {
                width: 30%;
                float: right;
            }
}

    .sponsored-entry {}
}

#db-search {
    background-color: $green;
    padding: 3rem $mobile-margins;
    position: relative;
    display: block;
    h2 {
        margin-top: 0px;
    }
    p {
        margin-bottom: 1rem;
        @include media($medium-break) {
            text-align: right;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -1.8rem;
        display: block;
        width: 0px;
        height: 0px;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-top: 2rem solid $green;
        left: calc(50% - 2rem);
    }
}

#db-summary {
    padding: 3rem $mobile-margins 1rem;
    .num-stat {
        width: 50%;
        display: block;
        position: relative;
        padding-bottom: .8rem;
        float: left;
    }
    .count {
        float: left;
        text-transform: uppercase;
        color: $warm-grey;
        padding: 0 0 .5rem .5rem;
        width: calc(90% - 3px);
        .infra-icon {
            width: 3rem;
            height: auto;
            display: block;
            position: relative;
            float: left;
            @include media($medium-break) {
                width: 70px;
            }
        }
        div {
            display: block;
            position: relative;
            float: left;
            padding-left: 10px;
        }
        .large-numbers {
            font-family: Lato;
            display: block;
            font-size: 30px;
            font-weight: bold;
            color: #3d8283;
            padding: .5rem 0px 0px;
            text-align: left;
            @include media($medium-break) {
                font-size: 43px;
            }
        }
        .label {
            font-size: .9rem;
            @include media($medium-break) {
                font-size: 1.5rem;
            }
        }
    }
    .statrt {
        float: right;
        padding: 0 .5rem .5rem 0;
    }
}

#illustrating-history {
    background-color: $pale-grey;
    padding: 2em $mobile-margins 0rem;
    .img-container {
        width: calc(100% + $mobile-margins-right);
    }
    img {
        margin: 0px $mobile-margins-right .5rem $mobile-margins-left;
        max-width: 500px;
        width: 100vw;
    }
    .entry-title {
        margin-bottom: 0px;
    }
    .entry-title p,
    p:last-child {
        padding-bottom: 2rem;
    }
    #lastp {
        padding-bottom: 0rem !important;
    }
}

#contribute {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: $mobile-margins;
    background-color: white;
    bottom: -4rem;
    z-index: 100;
    h2.section-title {
        margin-bottom: 1rem;
    }
    .left-div {
        margin-bottom: 2rem;
    }
}

.contribute-bkgd {
    background-color: $pale-grey;
    width: 100%;
}

.body-text {
    font-family: Lato;
    font-size: 17px;
    line-height: 1.35;
}

.menu-items {
    font-family: Lato;
    font-size: 16px;
    color: #747474;
    color: $warm-grey;
}

.article-meta {
    font-family: Lato;
    font-size: 16px;
    color: $green;
}

a.green-button {
    background-color: $greyish-teal;
    display: block;
    margin: 1rem auto;
    position: relative;
    width: 75%;
    max-width: 200px;
    .button-text {
        font-family: Lato;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1.2px;
        color: white;
        text-decoration: none;
        text-decoration-style: none;
        text-transform: uppercase;
        padding: .4rem 1rem;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-weight: 400;
        width: 100%;
        &:after {
            font-family: "fontello";
            content: "\E804";
            color: white;
            font-size: 70%;
            padding-left: 4px;
            padding-bottom: 4px;
        }
    }
}

.white-text {
    color: white !important;
}
