@import "variables";
@import "mixins";
@import "lib/bourbon/bourbon", "lib/neat/neat";


.home {
    a {
        text-decoration: none;
    }

    .date {
        font-family: $serif-font-family;
        font-style: italic;
    }

    .inner {
        max-width: $max-content-width;
        margin: 0 auto;
        p:last-of-type {
            margin: 0;
        }
    }

    h2.highlighter {
        font-size: $major-hed-size;
        text-transform: uppercase;
        font-style: normal;
        margin-bottom: 0;
        position: relative;

        span {
            color: #FFF;
            background-color: $dark-night;

            &:nth-of-type(0n + 1) {
                line-height: 1;
            }

            &:nth-of-type(1n + 2) {
                position: relative;
                margin-top: 0;
                padding-top: $tiny-spacing;
                top: -10px;
            }
        }

        &::after {
            content: " ";
            display: block;
            background: url($database-arrow-img);
            background-size: 16px 30px;
            background-repeat: no-repeat;
            width: 16px;
            height: 30px;
            position: absolute;
            right: 8px;
            bottom: 30px;
        }
    }

    #video, #analysis {
        h3 {
            font-size: $major-hed-size;
            font-family: $serif-font-family;
        }
    }

    #map {
        height: 380px;
        position: relative;

        @include background-poster($megamap-img);

        @include widows-peak($dark-green-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $dark-green;

        h2, h3 {
            text-shadow: 0 0 4px rgb(76, 129, 126);
            font-weight: 300;
        }
        h2 {
            color: #FFF;
            font-size: $overdoingit-hed-size;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        h3 {
            color: $bright-green;
            font-size: $shouting-hed-size;
            font-family: $serif-font-family;
        }

        .inner {
            position: absolute;
            margin: 0;
            padding: 20px;
            width: auto;
            right: $small-spacing;
            bottom: $small-spacing;

            @include media($medium-break) {
                right: $section-spacing;
            };

            h2, h3 {
                padding-right: 13px;
            }
            img {
                position: absolute;
                height: 115px;
                top: 34px;
                right: 0;
            }
        }
    }

    #mission {
        position: relative;
        padding: $section-spacing 0;
        font-weight: 400;

        @include widows-peak($light-green-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $light-green;

        &::before {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -1;
            background: repeat left/$banner-img-size url($banner-bg-img) transparent;
            opacity: 0.6;
        }
        // NOTE: IE11 doesn't scale/repeat SVG images based on CSS. Follows SVG attributes.
        &::-ms-backdrop, &::before {
            background: repeat left/$banner-img-size url($banner-bg-img-ie11) transparent;
        }

        .inner {
            background-color: #FFF;

            padding: $medium-spacing;

            @include media($medium-break) {
                padding: 29px;
            }
        }

        p {
            font-size: rem(24);
            font-weight: 100;
            strong {
                font-size: rem(31);
                text-transform: uppercase;
            }
        }

    }
    #featured-analysis .row {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between)

        > div {
            display: block;
            min-height: 240px;
            @include flex(1 0 100%);
        }

        @include media($medium-break) {
            @include flex-direction(row);
            > div {
                min-height: 200px;
                margin-bottom: 0;
                @include flex(1 1 50%);
            }
        }

    }

    #database {
        height: 400px;
        @include background-poster($database-img);

        @include widows-peak($dark-blue-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $dark-blue;

        .inner {
            position: absolute;
            left: $section-spacing;
            bottom: $section-spacing;
            max-width: 255px;

            p {
                color: $pale-green;
                font-family: $serif-font-family;
                font-size: $minor-text-size;
                font-style: italic;
                padding: 0 $tiny-spacing;
            }
        }
    }

    #analysis {
        background-color: $dark-night;
        color: $medium-green;
        font-family: $serif-font-family;

        @include widows-peak($dark-green-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $dark-green;

        .inner {
            padding-top: $section-spacing;
            padding-bottom: $section-spacing;
            @include display(flex);
            @include flex-direction(column);

            > div {
                @include flex(1 1 auto);
                margin-bottom: $medium-spacing;

                &:last-of-type {
                    max-width: 240px;
                }
            }
            @include media($medium-break) {
                @include flex-direction(row);

                > div {
                    margin-bottom: inherit;
                }
            }

        }

        h2.highlighter {
            span {
                background-color: $medium-green;
            }
        }

        h3 {
            font-size: $major-hed-size;
            font-weight: 400;
            font-style: italic;
            line-height: normal;
            margin-bottom: $small-spacing;
        }

        h4 {
            font-size: $section-hed-size;
        }

        h5 {
            font-style: italic;
        }

        h5, h4, button a {
            color: $pale-green;
        }
    }

    $text-height: 32px;
    $video-area-height: 280px;
    #video {
        height: $video-area-height;
        @include background-poster($video-img);

        @include widows-peak($medium-blue-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $medium-blue;

        $inner-margin-vertical: ($video-area-height - $play-button-size - $text-height)/2;
        .inner {
            position: relative;
            top: $inner-margin-vertical;
            margin: auto;
            width: $play-button-size;

            a.play.button {
                font: $mid-hed-size $sans-font-family;
                color: #FFF;
                text-transform: uppercase;
                background: url($play-button) no-repeat transparent;
                background-position: 0px $text-height;
                width: $play-button-size;
                height: $play-button-size + $text-height;
                padding: 0;
            }

            cite {
                font-style: normal;
            }

            h4 {
                font-size: $section-hed-size;
                span {
                    color: white;
                    background-color: $not-so-dark-night;
                    padding: 7px 20px;
                }
            }

            h3 {
                font-size: $section-hedier-size;

                span {
                    color: white;
                    background-color: $mintier-green;

                    &:nth-of-type(1n + 2) {
                        position: relative;
                        margin-top: 0;
                        padding-top: 0;
                    }

                    @for $i from 2 through 5 {
                        &:nth-of-type(1n + #{$i}) {
                            top: -10px * ($i - 1);
                        }
                    }
                }
            }
        }
    }

    #fantasy {
        max-width: $max-content-width;

        .wrap {
            @include flex-wrap(wrap);

            > div {
                @include flex-basis(auto);
            }
            @include media($medium-break) {
                > div {
                    @include flex-basis(48%);
                }
            };

            .callout {
                @include flex(1 0 100%);
                min-height: inherit;
                text-align: center;
            }
        }
    }
}
