@import "variables";
.button,
button,
input {
    font-family: $serif-font-family;
    color: $creamer;
    background-color: $slate-grey;
    border: none;
    border-radius: 0;
    padding: 3px 8px;
    position: relative;
    &:focus {
        outline: none;
    }
    &:disabled {
        color: $placeholder-color;
    }
    @include placeholder {
        color: $placeholder-color;
        font-style: italic;
    }
    &.gem {
        $gem-width: 8px;
        $gem-height: 42px;
        $gem-vector: $gem-height/2;
        text-transform: uppercase;
        font-family: $sans-font-family;

        height: $gem-height;
        &::before {
            display: block;
            position: absolute;
            left: -$gem-width;
            top: 0;
            content: " ";
            width: $gem-width;
            height: 100%;
            border-top: $gem-vector solid transparent;
            border-right: $gem-width solid $slate-grey;
            border-bottom: $gem-vector solid transparent;
        }
        &::after {
            display: block;
            position: absolute;
            right: -$gem-width;
            top: 0;
            content: " ";
            width: $gem-width;
            height: 100%;
            border-top: $gem-vector solid transparent;
            border-left: $gem-width solid $slate-grey;
            border-bottom: $gem-vector solid transparent;
        }
    }
}
input.primary {
    background-color: $dark-night;
    padding: 8px 4px 8px 8px;
}
a.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}
fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
