@import "variables";
.button,
button,
input {
    font-family: $sans-font-family;
    color: black;
    background-color: white;
    border: none;
    border-radius: 0;
    padding: 3px 8px;
    position: relative;
    &:focus {
        outline: none;
    }
    &:disabled {
        color: $placeholder-color;
    }
    @include placeholder {
        color: $placeholder-color;
        font-style: italic;
    }
    &.gem {
        @include gemify($green, $height: 30px);
        text-transform: uppercase;
        font-family: $sans-font-family;
        line-height: 1.7;
        padding: 0 $small-spacing;
        color: $pale-green;
        transition: color 0.5s;
        &:hover {
            color: lighten($pale-green, 10%);
        }
        &.large {
            line-height: 1.5;
            font-size: $section-hed-size;
            padding: 0 $medium-spacing;
            
        }
        @include media($medium-break) {
            &.large {
                padding: 0 $large-spacing;
            }
        }
    }
}

input[type=search] {
    @include appearance(textfield);
}

input.primary {
    background-color: $dark-night;
    padding: 8px 4px 8px 8px;
}

a.button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 8px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

select {
    line-height: normal;

}

// Custom dropdown
// Adapted from http://red-team-design.com/making-html-dropdowns-not-suck/
.custom-dropdown {
    font-family: $sans-font-family;
    color: black;
    background-color: white;

    margin: 0;
    line-height: normal;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
 width: 100%;
            max-width: 450px;
            margin-bottom: 10px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            pointer-events: none;
        }
        &::before {
            /*  Custom dropdown arrow cover */
            width: 35px;
            right: 0;
            top: 0px;
            bottom: 0px;
            background-color: $greyish-teal;
        }
        &::after {
            /*  Custom dropdown arrow */
            font-family: "fontello";
            content: "\E806";
            text-align: center;
            color: white;
            background-repeat: no-repeat;
            background-size: $expand-collapse-btn-width auto;

            height: 1em;
            right: calc(35px /2 - 8px);
            top: 50%;
            margin-top: -.5em;
        }
        > select {
            display: inline-block;
            color: black;
            background-color: white;
            padding: 0.45em;
            padding-right: 28px;
            margin: 0;
             width: 100%;
            max-width: 450px;
            height: 38px;
            /* accommodate with the pseudo elements for the dropdown arrow */
            border: 0;
            @include appearance(none);
            &[disabled] {
                color: desaturate(black, 30%);
            }
        }
    }
    /* FF only temporary & ugly fixes */
    /* the "appearance: none" applied on select still shows a dropdown arrow on Firefox */
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=649849 */
    @-moz-document url-prefix() {
        .custom-dropdown > select {
            padding-right: 0.9em;
        }
    }
}


#database-page #db-search {
        background-color: white;
        padding: 0rem 20px;
        &:after {
            content:" ";
            border: 0px solid transparent;
        }
    }
.custom-dropdown, .search-box {
    display: block;
    max-width: 450px;
    width: 90%;
        @include media($medium-break) {
margin: .5rem 10px;
    }
}


    .custom-dropdown {
        height: 40px;
    border: 1px solid $greyish-teal;
}
.search-controls {
     height: 40px;

}

.searchWidget {

    

}

