@import "variables";

.content-wrap {
    margin-bottom: 4rem;
}

.content-wrap, footer .wrap {
    @include outer-container($small-wrap);
    @include media($medium-break) {
        @include outer-container($medium * 0.9);
    }
    @include media($large-break) {
        max-width: $max-content-width;
    }
}

header {
    .wrap {
        max-width: $small-wrap;
        margin-bottom: 0;
        @include media($medium-break) {
            @include outer-container($medium * 0.96);
        }
        @include media($large-break) {
            max-width: $max-content-width + 102;
        }
    }
}

.row {
    @include row();
    margin-bottom: 0;

    @include media($large-break) {
        margin-bottom: $large-spacing;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

}

@for $i from 1 through $grid-columns {
    .col-#{$i} {
        @include span-columns(1 of 1);
        margin-bottom: $large-spacing;
    }
}

@include media($medium-break) {
    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            @include span-columns($i/(12/$grid-columns));
            margin-bottom: $medium-spacing;
        }
    }
}

@include media($large-break) {
    @for $i from 1 through $grid-columns {
        .col-#{$i} {
            @include span-columns($i);
        }
        .col-shift-#{$i} {
            @include shift($i of $grid-columns);
        }
    }
}
