@import "variables";

.content-wrap {
    margin-bottom: 4rem;
    padding: $medium-spacing 0 0;
    @include media($medium-break) {
        padding-top: $section-spacing;
    }
}
::-ms-backdrop, .content-wrap {
    background-position: 50% (-($section-spacing + 22));
}


.content-wrap, footer .wrap, {
    @include outer-container($small-wrap);
    @include media($medium-break) {
        @include outer-container($medium * 0.9);
    }
    @include media($large-break) {
        max-width: $max-content-width;
    }
}

.feature {
    max-width: $max-content-width;
    border: none;

    .wrap {
        > div {
            max-width: auto;
            @include flex(0 1 100%);
            min-height: 360px;
            margin-bottom: $small-spacing;
        }

        @include media($small-break) {
            > div {
                min-height: 300px;
            }
        };

        @include media($medium-break) {
            @include flex-direction(row);
            > div {
                max-width: 45%;
                @include flex(0 1 45%);
                margin-bottom: 0;
            }
        }
    }
}

section.columnar {
    margin: $section-spacing auto;

    .wrap {
        &.content-wrap {
            padding: 0;
        }

        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);

        > div, > section {
            display: block;
            min-height: 240px;
            @include flex(1 0 auto);
            margin-bottom: $medium-spacing;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        @include media($medium-break) {
            @include flex-direction(row);
            @include flex-wrap(wrap);
            > div, > section {
                min-height: 200px;
                max-width: 48%;
                @include flex(0 1 48%);
                &:last-of-type {
                    margin-bottom: $medium-spacing;
                }
            }
        }
    }

    &.mini > .wrap {
        a {
            color: $dark-night;
        }
        > div {
            @include media($medium-break) {
                max-width: 32%;
                @include flex(0 0 32%);
            }
        }
    }
}

header {
    .wrap {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);

        > div, > nav {
            @include flex(1 0 auto);
        }
        max-width: $small-wrap;
        margin: 0 auto 0;

        @include media($medium-break) {
            @include outer-container($medium * 0.96);
            @include flex-direction(row);
            @include justify-content(flex-end);
            @include flex-wrap(wrap);
            margin-bottom: $small-spacing;
        }
        @include media($large-break) {
            max-width: $max-content-width + 102;
        }
    }
}


.row {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(stretch);
    margin-bottom: $large-spacing;
    &::after {
        content: normal;
    }

    &.spaced {
        section:not(:last-child), > div:not(:last-child) {
            margin-right: $large-spacing;
        }
    }

    &.compact {
        section:not(:last-child), > div:not(:last-child) {
            margin-bottom: 0;
        }
    }

    &.double {
        @include justify-content(flex-start);
        @include flex-wrap(wrap);

        section, > div {
            max-width: 40%;
            @include flex(0 1 40%);
            &:not(:last-of-type) {
                margin-right: 20%;
            }
        }
    }

    &.triple {
        @include justify-content(flex-start);
        @include flex-wrap(wrap);

        section, > div {
            max-width: 25%;
            @include flex(0 1 25%);
            &:not(:last-of-type) {
                margin-right: 12.5%;
            }
        }
    }

    section, > div {
        @include flex(0 1 auto);
        margin-bottom: $small-spacing;
        margin-right: 0;

        &.detailed {
            min-width: 70%;
            table {
                tbody {
                    font-size: $minorer-text-size;
                }
                width: 80%;
            }
        }

        &.maximized {
            width: 100%;
        }
    }
    @include media($medium-break) {
        @include flex-direction(row);
        @include flex-wrap(wrap);
        ul:not(.multicolumn) {
            max-width: $max-content-width/4;
        }
    }
    @include media($large-break) {
        @include flex-wrap(nowrap);
    }
}


footer#page-footer {
    background-color: $green;
}


