@import "lib/bourbon/bourbon", "lib/neat/neat";
@import "variables";
@import "../../../node_modules/mapbox-gl/dist/mapbox-gl.css";

/*
    Map styles
*/
$creamer-str: str-slice("#{$creamer}", 2);

.mapboxgl-ctrl-group {
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    > button {
        background-color: $dark-night;
        border-bottom: none;
        margin-bottom: 4px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
.mapboxgl-ctrl-icon {
    &.mapboxgl-ctrl-zoom-in, &.mapboxgl-ctrl-zoom-out {
        background-color: $dark-night;

        &:hover {
            background-color: $slate-grey;
        }

    }
    &.mapboxgl-ctrl-zoom-in {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23#{$creamer-str}%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    }
    &.mapboxgl-ctrl-zoom-out {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23#{$creamer-str}%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A");
    }
    &.mapboxgl-ctrl-compass {
        &:hover {
            background-color: $slate-grey;
        }
    }
}
.mapboxgl-popup {
    max-width: 400px;
    font: $compact-text-size/rem(20) 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

@each $aside, $bside in (top, bottom), (right, left), (bottom, top), (left, right) {
    .mapboxgl-popup-anchor-#{$aside} {
        .mapboxgl-popup-tip {
            border-#{$bside}-color: $pale-green;
        }
    }
}
.mapboxgl-popup-content {
    background-color: $pale-green;
}
.mapboxgl-popup-close-button {
    color: $serious-green;
}
.marker-title {
    font-weight: 700;
}
.map-container {
    @include fill-parent;
    .mapboxgl-map {
        overflow: visible;
    }
}
.search-map {
    position: relative;
    background-color: $pale-green;
    .search-controls {
        @include position(absolute, 2% 1.5% null null);
        @include size(33% auto);
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
        input {
            @include fill-parent;
            padding: 8px;
        }
    }
}

.popup-content-inner {
    width: 220px;
    padding: 0 10px;

    p {
        margin-bottom: 4px;
    }

    ul {
        margin: 0;
        li {
            margin-bottom: 6px;
            padding-bottom: 6px;
            border-bottom: 1px solid $dark-night;
            &:last-of-type {
                margin: 0;
                padding: 0;
                border-bottom: none;
            }
        }
    }
}
