

@mixin widows-peak($img, $width: auto, $height: 12px, $adjust: 0px, $order: after) {
    $arrow-adjust: if($order==after, $adjust + 0.5, $adjust);
    $height-adjust: $height + $arrow-adjust;
    &::#{$order} {
        content: "";
        position: absolute;
        background-image: url($img);
        background-color: transparent;
        background-clip: border-box;
        background-size: $width $height;
        background-repeat: no-repeat;
        background-position: 0 ($adjust - 1);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: $width;
        @if $order == after {
            bottom: -$height-adjust;
            height: $height-adjust;
        } @else {
            top: -$arrow-adjust;
            height: $height-adjust;
        }
        z-index: 1;
    }
}

@mixin background-poster($img) {
    background: no-repeat center/cover url($img);
}

@mixin decorated-bg($size) {
    background-repeat: no-repeat;
    background-size: $size $size; // IE 11 won't render properly unless both dimensions set
    background-position: 0 center;
}

@mixin gemify($color, $width: 8px, $height: 42px) {
    $vector: $height/2;
    height: $height;
    background-color: $color;
    position: relative;

    &::before {
        display: block;
        position: absolute;
        left: -$width;
        top: 0;
        content: " ";
        width: $width;
        height: 100%;
        border-top: $vector solid transparent;
        border-right: $width solid $color;
        border-bottom: $vector solid transparent;
    }

    &::after {
        display: block;
        position: absolute;
        right: -$width;
        top: 0;
        content: " ";
        width: $width;
        height: 100%;
        border-top: $vector solid transparent;
        border-left: $width solid $color;
        border-bottom: $vector solid transparent;
    }
}

/* Mixin */
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
