

@mixin widows-peak($img, $width: auto, $height: 12px, $top: 0px) {
    &::after {
        content: "";
        position: absolute;
        background-image: url($img);
        background-color: transparent;
        background-clip: border-box;
        background-size: $width $height;
        background-repeat: no-repeat;
        background-position: 0 $top;
        bottom: -($height + $top);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: $width;
        height: ($height + $top);
        z-index: 1;
    }
}

@mixin background-poster($img) {
    background: no-repeat center/cover url($img);
}
