@import "variables";
@import "mixins";
@import "lib/neat/neat";


.panel {
    position: relative;
    background-color: $creamer;
    padding: $medium-spacing $medium-spacing (3*$medium-spacing);

    h3 {
        text-transform: uppercase;
    }
    h5 {
        font-style: italic;
    }

    footer {
        position: absolute;
        bottom: $medium-spacing;
    }
}

article {
    section {
        > img {
            width: 100%;
            margin-bottom: $small-spacing;
        }
        &.featured {
            padding: $small-spacing;
            background-color: $creamer;

            @include media($medium-break) {
                padding: $large-spacing;
            }
        }

        &.documents {
            .wrap {
                @include display(flex);
                @include flex-direction(column);
                > div {
                    @include flex(1 0 auto);
                    margin-bottom: $large-spacing;
                    @include media($medium-break) {
                        @include flex(1 0 50%);
                    }
                }

                @include media($medium-break) {
                    @include flex-direction(row);
                    @include flex-wrap(wrap);
                }

            }
        }
    }
}
.details {
    .row {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-between);
        @include align-items(stretch);
        margin-bottom: $large-spacing;
        &::after {
            content: normal;
        }

        &.double {
            @include justify-content(flex-start);
            @include flex-wrap(wrap);

            section {
                @include flex(0 1 40%);
                &:not(:last-of-type) {
                    margin-right: 20%;
                }
            }
        }

        &.triple {
            @include justify-content(flex-start);
            @include flex-wrap(wrap);

            section {
                @include flex(0 1 25%);
                &:not(:last-of-type) {
                    margin-right: 12.5%;
                }
            }
        }

        h3 {
            border-bottom: 2px solid $slate-grey;
        }
        @include media($medium-break) {
            &:first-of-type h3 {
                color: $medium-green;
                border-bottom: 2px solid $medium-green;
            }
        }
        section {
            @include flex(0 1 auto);
            margin-bottom: $small-spacing;
            margin-right: 0;

            &.detailed {
                min-width: 50%;
            }

            &.maximized {
                width: 100%;
            }
        }
        @include media($medium-break) {
            @include flex-direction(row);
            @include flex-wrap(wrap);
            ul:not(.multicolumn) {
                max-width: $max-content-width/4;
            }
        }
        @include media($large-break) {
            @include flex-wrap(nowrap);
        }
    }
}

.description {
    h3 {
        text-transform: none;
    }
    p {
        font-size: $minor-text-size;
    }
}

.document-list {
    display: block;

    ul > li {
        margin-bottom: $small-spacing;

        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.database {

    > section {
        position: relative;
        display: block;

        &.poster {
            $poster-height: 205px;
            height: $poster-height;
            @include background-poster($database-img);
            @include widows-peak($dark-green-arrow-img, $main-arrow-width, $top: 2px);
            border-bottom: $thin-border-width solid $dark-green-line;

            header {
                position: absolute;
                bottom: $small-spacing;
                left: $small-spacing;
                h1 {
                    font-family: $sans-font-family;
                    font-size: rem(30);
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #FFF;
                    background-color: $dark-night;
                    margin: 0;
                    padding: 10px 20px;
                }

                @include media($medium-break) {
                    bottom: $section-spacing;
                    left: $section-spacing;
                }
            }

            @include media($medium-break) {
                height: $poster-height * 2;
            }
        }
    }

    .featured {

        header {
            max-width: $max-content-width;
            margin: 0 auto;
            padding: $medium-spacing 0;
            h2 {
                font-family: $serif-font-family;
                font-size: rem(24);
                text-decoration: underline;
                margin-bottom: 0;
            }
        }

        .panel {
            background-color: #FFF;
        }

        &::before {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -1;
            background: repeat left/$banner-img-size url($banner-bg-img) transparent;
            opacity: 0.6;
        }
        // NOTE: IE11 doesn't scale/repeat SVG images based on CSS. Follows SVG attributes.
        &::-ms-backdrop, &::before {
            background: repeat left/$banner-img-size url($banner-bg-img-ie11) transparent;
        }

        &::after {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -2;
            background-color: lighten($pale-green, 11.5%);
        }
    }

    .search {
        margin: $section-spacing 0;
        border-bottom: none;

        form {
            width: 55%;
            margin: 0 auto;
            @include justify-content(space-around);
            @include align-items(center);
        }
        .searchBar {
            border: 2px solid $pale-green;
            background-color: #363d4e;

            input {
                background-color: #363d4e;
                padding: $small-spacing;
            }

            button[name='search'] {
                @include hide-text;
                padding: 0;
                margin-right: 8px;
                background: url($search-btn-active-img) center no-repeat;
                width: $search-btn-width;

                &[disabled] {
                    background: url($search-btn-inactive-img) center no-repeat;
                }
            }
        }
        button.dropdown {
            font-family: $serif-font-family;
            color: $pale-green;
            background-color: $slate-grey;
            background-image: url($expand-btn-img);
            background-position: 94% center;
            background-repeat: no-repeat;
            background-size: $expand-collapse-btn-width auto;

            height: 32px;
            margin: 0;
            padding: 3px 28px 3px 8px;

            &::after {
                content: "";
                margin-left: 6px;
                border-left: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

    }

    a.button {
        font-size: $section-hed-size;
        color: $pale-green;
        padding: $tiny-spacing $medium-spacing;

        @include media($medium-break) {
            padding: $tiny-spacing $large-spacing;
        }
    }

    > nav {
        padding-top: 0;
        margin: $section-spacing 0;

        ul {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-between);
            width: 70%;
            margin: 0 auto;

            @include media($medium-break) {
                @include flex-direction(row);
                @include justify-content(space-around);
                width: 80%;
            }

            li {
                @include flex(1 1 auto);
                margin-bottom: $medium-spacing;

                @include media($medium-break) {
                    @include flex(0 1 auto);
                    margin: 0;
                }

                a.button {
                    font-family: $sans-font-family;
                    width: 100%;
                    text-transform: uppercase;
                }
            }
        }
    }
}
