@import "variables";
@import "mixins";
@import "lib/neat/neat";


.panel {
    position: relative;
    background-color: $creamer;
    padding: $medium-spacing $medium-spacing (3*$medium-spacing);

    h3 {
        text-transform: uppercase;
    }
    h5 {
        font-style: italic;
    }

    p:last-of-type {
        margin: 0;
    }

    footer {
        position: absolute;
        bottom: $medium-spacing;
    }
}

.feature {
    h2 {
        font-family: $serif-font-family;
        font-size: $section-hed-size;
        text-decoration: underline;
    }

    &.mini {
        .panel {
            background-color: $pale-green;
        }
    }

}

.poster {
    figure {
        display: block;
    }

    > img, a > img, figure > img {
        display: block;
        clear: both;

        width: 100%;
    }
}

.list {
    .content, .content-wrap {
        header {
            margin-bottom: $medium-spacing;
            h2 {
                text-align: center;
            }
        }
    }
}

.pagination {
    margin-bottom: $medium-spacing;
    span, a {
        display: inline-block;
    }

    a {
        text-decoration: none;

        &:not([href]) {
            color: lighten($gravel-grey, 25%);
        }
    }
    .step-links {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        max-width: 80%;
        margin: 0 auto;
    }
}

section.buzz {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    > div {
        display: block;
        min-height: 240px;
        @include flex(1 0 100%);
    }

    @include media($medium-break) {
        @include flex-direction(row);
        > div {
            min-height: 200px;
            margin-bottom: 0;
            @include flex(1 1 50%);
        }
    }

    min-height: 240px;
    border-bottom: none;

    .poster {
        position: relative;
        min-height: inherit;
        overflow: hidden;

        > a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .label {
            position: absolute;
            bottom: auto;
            top: 50%;
            left: 0;
            max-width: 90%;
            padding: $small-spacing;

            @include media($medium-break) {
                max-width: 55%;
                padding: $small-spacing $large-spacing $small-spacing $large-spacing;
                top: auto;
                bottom: 20px;
            }

            h3 {
                font-size: $base-font-size;
                text-transform: uppercase;
                margin-bottom: $tiny-spacing;

                @include media($medium-break) {
                    font-size: $section-hed-size;
                }

                &::after {
                    width: 27px;
                    height: 27px;
                    display: block;
                    position: absolute;
                    top: 12px;
                    right: 8px;

                    @include media($medium-break) {
                        top: 18px;
                        right: 18px;
                    }

                }
            }

            p {
                font-family: $serif-font-family;
                font-size: $compact-text-size;
                font-style: italic;
                line-height: 1.25em;
            }

        }

        &:nth-of-type(odd) {
            .label {
                background-color: $pale-green;
                color: $dark-night;

                h3 {
                    &::after {
                        content: "";
                        background-image: url($blue-arrow-circle-img);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }

        &:nth-of-type(even) {
            .label {
                background-color: $dark-night;
                color: $pale-green;

                h3 {
                    &::after {
                        content: "";
                        background-image: url($green-arrow-circle-img);
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

header, section, div {
    &.featured {
        padding: $small-spacing;
        background-color: $creamer;

        @include media($medium-break) {
            padding: $large-spacing;
        }
    }
}

article {
    section {
        > img {
            width: 100%;
            margin-bottom: $small-spacing;
        }

        &.documents {
            .wrap {
                @include display(flex);
                @include flex-direction(column);
                > div {
                    @include flex(1 0 auto);
                    margin-bottom: $large-spacing;
                    @include media($medium-break) {
                        @include flex(1 0 50%);
                    }
                }

                @include media($medium-break) {
                    @include flex-direction(row);
                    @include flex-wrap(wrap);
                }

            }
        }
    }
}
.details {
    h3 {
        border-bottom: 2px solid $slate-grey;
    }
}

.description {
    h3 {
        text-transform: none;
    }
    p {
        font-size: $minor-text-size;
    }
    figure {
        float: left;
        img {
            max-width: 150px;
            border: 6px solid $slate-grey;
        }
    }
}

.document-list {
    display: block;

    ul > li {
        margin-bottom: $small-spacing;

        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.database {

    > section {
        position: relative;
        display: block;

        header > h2 {
            font-family: $serif-font-family;
            font-size: rem(24);
        }

        &.poster {
            $poster-height: 205px;
            height: $poster-height;
            @include background-poster($database-img);
            @include widows-peak($dark-green-arrow-img, $main-arrow-width, $adjust: 4px);
            border-bottom: $thin-border-width solid $dark-green-line;

            header {
                position: absolute;
                bottom: $small-spacing;
                left: $small-spacing;
                h1 {
                    font-family: $sans-font-family;
                    font-size: rem(30);
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #FFF;
                    background-color: $dark-night;
                    margin: 0;
                    padding: 10px 20px;
                }

                @include media($medium-break) {
                    bottom: $section-spacing;
                    left: $section-spacing;
                }
            }

            @include media($medium-break) {
                height: $poster-height * 2;
            }
        }
    }

    .featured {

        header {
            max-width: $max-content-width;
            margin: 0 auto;
            padding: $medium-spacing 0;
            h2 {
                text-decoration: underline;
                margin-bottom: 0;
            }
        }

        .panel {
            background-color: #FFF;
        }

        &::before {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -1;
            background: repeat left/$banner-img-size url($banner-bg-img) transparent;
            opacity: 0.6;
        }
        // NOTE: IE11 doesn't scale/repeat SVG images based on CSS. Follows SVG attributes.
        &::-ms-backdrop, &::before {
            background: repeat left/$banner-img-size url($banner-bg-img-ie11) transparent;
        }

        &::after {
            content: "";
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            position: absolute;
            z-index: -2;
            background-color: lighten($pale-green, 11.5%);
        }
    }

    .search {
        margin: $section-spacing 0;
        border-bottom: none;

        form {
            width: 55%;
            margin: 0 auto;
            @include justify-content(space-around);
            @include align-items(center);
        }

        button.dropdown {
            font-family: $serif-font-family;
            color: $pale-green;
            background-color: $slate-grey;
            background-image: url($expand-btn-img);
            background-position: 94% center;
            background-repeat: no-repeat;
            background-size: $expand-collapse-btn-width auto;

            height: 32px;
            margin: 0;
            padding: 3px 28px 3px 8px;

            &::after {
                content: "";
                margin-left: 6px;
                border-left: 2px solid rgba(0, 0, 0, 0.2);
            }
        }

    }

    a.button {
        font-size: $section-hed-size;
        color: $pale-green;
        padding: $tiny-spacing $medium-spacing;

        @include media($medium-break) {
            padding: $tiny-spacing $large-spacing;
        }
    }

    > nav {
        padding-top: 0;
        margin: $section-spacing 0;

        ul {
            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-between);
            width: 70%;
            margin: 0 auto;

            @include media($medium-break) {
                @include flex-direction(row);
                @include justify-content(space-around);
                width: 80%;
            }

            li {
                @include flex(1 1 auto);
                margin-bottom: $medium-spacing;

                @include media($medium-break) {
                    @include flex(0 1 auto);
                    margin: 0;
                }

                a.button {
                    font-family: $sans-font-family;
                    width: 100%;
                    text-transform: uppercase;
                }
            }
        }
    }

    .browse {
        h3 {
            a {
                position: relative;
            }
            a::after {
                content: " ";
                display: block;
                background: url($database-arrow-img);
                background-size: 8px 15px;
                background-repeat: no-repeat;
                width: 8px;
                height: 15px;
                position: absolute;
                right: -16px;
                bottom: 2px;
            }

        }
    }

    section.columnar + section.wrap {
        padding-top: 0;
    }
}

.analysis {

    .highlighter {
        text-transform: uppercase;
        position: relative;
        left: -$medium-spacing;

        span {
            color: $pale-green;
            background-color: $dark-night;
        }
    }

    section {
        &.poster {
            $poster-height: 205px;
            height: $poster-height;
            @include background-poster($analysis-img);

            header {
                position: absolute;
                bottom: 7rem;
                width: $max-content-width;
                margin: 0 auto;
                left: 0;
                right: 0;
                h1 {
                    display: inline-block;
                    font-family: $sans-font-family;
                    font-size: rem(30);
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #FFF;
                    background-color: $serious-green;
                    margin: 0;
                    padding: 10px 20px;
                }
            }
            @include media($medium-break) {
                height: $poster-height * 2;
            }
        }

        &.columnar {
            max-width: $max-content-width;
        }
    }

    blockquote {
        display: block;
        position: relative;
        max-width: $max-content-width;
        top: -6rem;
        margin: 0 auto -6rem;

        padding: $large-spacing $large-spacing;
        color: $pale-green;
        background-color: $callout-color;
        font-family: $serif-font-family;
        font-style: italic;
        line-height: 2rem;
        text-align: center;

        .quotation {
            &::before {
                display: block;
                content: "\201C";
                font-size: 52px;
                position: absolute;
                left: 1%;
                top: 8%;
            }
            &::after {
                display: block;
                content: "\201D";
                font-size: 52px;
                position: absolute;
                right: 2%;
                bottom: 0;
            }
        }

        .attribution {
            color: #FFF;
            font: $mid-hed-size $sans-font-family;
            font-style: normal;
            margin-top: $small-spacing;

            &::before {
                display: block;
                position: relative;
                top: -($small-spacing/2);
                content: " ";
                width: 20%;
                margin-left: auto;
                margin-right: auto;
                border-bottom: 1px solid $blue-steel;
            }
        }
        @include widows-peak($light-blue-arrow-img, $main-arrow-width, $order: before, $adjust: 5px);
        border-top: $thin-border-width solid $blue-steel;
        @include widows-peak($dark-green-arrow-img, $main-arrow-width, $adjust: 4px);
        border-bottom: $thin-border-width solid $dark-green-line;


        @include media($medium-break) {
            padding: $large-spacing 3*$large-spacing;

            .quotation {
                &::before, &::after {
                    font-size: 154px;
                }
                &::before {
                    left: 0;
                    top: 28%;
                }
                &::after {
                    right: 2%;
                    bottom: 18%;
                }
            }
        }

    }

}


.entry {
    article {
        max-width: $max-article-width;
        margin: 0 auto;

        .body {
            width: 95%;
            margin: 0 auto $large-spacing;
        }
    }
    aside {
        color: $callout-color;
    }
    .decorated {
        border-bottom: none;
        border-top: $thin-border-width solid $blue-steel;

        text-align: left;

        @include widows-peak($light-blue-arrow-img, $main-arrow-width, $order: before, $adjust: 10px);
        &::before {
            background-position: 0px 6px;
        }
        &::after {
            content: none;
        }
        h1 {
            font-size: $major-hed-size;
            color: $callout-color;
            text-align: left;
        }
    }

    section.details, .author {
        font-size: $minorer-text-size;
    }

    section.details {
        margin: $small-spacing auto $large-spacing;
        width: 95%;

        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);

        > span {
            @include flex(1 1 auto);
            @include display(flex);
            @include flex-direction(row);
            @include justify-content(flex-start);
            @include align-items(center);

            &:last-of-type {
                @include justify-content(flex-end);
            }

            > span, > a:not(.ssk) {
                @include flex(0 1 auto);

                &:not(:last-of-type) {
                    padding-right: $small-spacing;
                }

                @include media($medium-break) {
                    &:not(:last-of-type) {
                        padding-right: $large-spacing;
                    }
                }
            }
        }

    }

    article > footer {
        width: 80%;
        margin: 0 auto;

        .title {
            text-transform: uppercase;
        }

        .links {
            $arrow-height: 80px;
            $arrow-width: 20px;
            $arrow-vector: $arrow-height/2;

            @include display(flex);
            @include flex-direction(column);
            @include justify-content(space-between);

            li {
                @include flex(1 1 50%);

                margin-bottom: $medium-spacing;

                a {
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    color: $medium-green;
                    height: $arrow-height;
                    @include display(flex);
                    @include flex-direction(column);
                    @include justify-content(flex-start);

                    span:first-of-type {
                        margin-bottom: $small-spacing;
                        text-transform: uppercase;
                    }

                    span:not(:first-of-type) {
                        color: $callout-color;
                    }
                }

                &:first-of-type a::before, &:last-of-type a::after {
                    display: block;
                    position: absolute;
                    top: 0;
                    content: " ";
                    width: $arrow-width;
                    height: 100%;
                }
                &:first-of-type {
                    text-align: left;
                    a::before {
                        left: -$arrow-width * 1.5;
                        border-top: $arrow-vector solid transparent;
                        border-right: $arrow-width solid $medium-green;
                        border-bottom: $arrow-vector solid transparent;
                    }
                }
                &:last-of-type {
                    text-align: right;
                    a::after {
                        right: -$arrow-width * 1.5;
                        border-top: $arrow-vector solid transparent;
                        border-left: $arrow-width solid $medium-green;
                        border-bottom: $arrow-vector solid transparent;
                    }
                }
            }
        }

        @include media($medium-break) {
            width: 95%;

            .links {
                @include flex-direction(row);
                li {
                    margin-bottom: 0;
                }
            }
        }
    }
}
