@import "variables";
@import "mixins";
@import "animations";
@import "lib/bourbon/bourbon",
"lib/neat/neat";
@import "../../../node_modules/react-select/dist/react-select.css";


$searchview-padding-x: 20px;
$searchview-padding-y: 24px;

$searchview-infrastructure-icon-size: 40px;
$searchview-infrastructure-padding-left: 16px;
$searchview-infrastructure-padding-right: 24px;

$searchview-header-height: 50px;
$searchview-heading-bottom-margin: $searchview-padding-y / 2;
$searchview-body-text-bottom-margin: $searchview-heading-bottom-margin * 2;
$searchview-section-header-bottom-margin: 8px;
$searchview-label-bottom-margin: $searchview-section-header-bottom-margin / 2;
$searchview-text-input-margin-left: 16px;

$search-inner-height: calc(100% - #{$searchview-header-height * 2});
$results-view-max-height: 410px;
$scroll-max-height: $results-view-max-height - 46;

// Abstract base class for various specialized header toggle buttons.
button.btn--header-toggle {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    background-color: transparent;
    color: white;
    font-size: map-get($map-font-sizes, 'base');
    font-family: $sans-font-family;
    text-transform: uppercase;
    padding: 0;

    > span {
        flex: 0 1 auto;
    }

    &::before {
        // This requires a background-image property in concrete classes.
        content: "";
        display: inline-block;
        flex: 0 1 auto;
        height: 11px;
        width: 1em;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

// Abstract base class to be extended by various subheadings.
.sidebar__subheading {
    color: map-get($map-colors, 'subheading');
    font-size: map-get($map-font-sizes, 'subheading');
    margin-bottom: $searchview-heading-bottom-margin;
}

// Abstract class to be extended by various body text classes.
.sidebar__body-text {
    color: map-get($map-colors, 'body');
    font-size: map-get($map-font-sizes, 'body');
    margin-bottom: $searchview-body-text-bottom-margin;
}

// Abstract base class to be extended by various hr classes.
.sidebar__separator {
    margin-top: $searchview-padding-y;
    margin-bottom: $searchview-padding-y;
    margin-left: -$searchview-padding-x;
    margin-right: -$searchview-padding-x;
    border-width: 0.5px;
    border-color: $map-extra-light-grey;
}

.searchView {
    width: $side-bar-width;
    font-size: map-get($map-font-sizes, 'base');
    z-index: 10;
    position: relative;
    top: 0px;
    right: 0px;
    width: $side-bar-width;
    height: 100%;

    @include media($megamap-break) {
        display: block;
    }
    header {
        a {
            display: block;
            height: $base-line-height;
            width: $base-line-height;
            opacity: 0.6;
        }

        a:hover {
            opacity: 1;
        }

        h2 {
            padding-left: $base-line-height;
        }

    }

    .searchWidget {
        width: $side-bar-width;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        z-index: 10;
        transform: translateX(-290px);
        transition: transform 0.3s;
        
        > header {
            h2 {
                color: #fff;
            }
            a:first-child {
                background: url($close-white) no-repeat center/70% 70%;
            }
            a:last-child {
                width: 50%;
                text-align: right;
                color: #fff;
            }
        }
    }
    .inner.showFilters {
        .searchWidget {
            transform: translateX(0px);
        }
    }

    h2 {
        font-size: map-get($map-font-sizes, 'base');
        font-family: $sans-font-family;
        font-weight: bold;
        color: $callout-color;
        margin-bottom: $tiny-spacing;
    }

    footer {
        position: absolute;
        right: 0;
        top: 25px;

        a.button.help {
            @include hide-text;
            background: url($help-btn-img) center no-repeat;
            width: $search-btn-width;
            padding: 0;
        }
    }

    .inner {
        width: $side-bar-width;
        height: 100%;

        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-start);
    }
}

.searchView__header {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    
    height: $searchview-header-height;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
    
    background-color: $callout-color;
}

.searchView__header--light {
    background-color: map-get($map-colors, 'header-background-light');
}

.searchView__footer {
    @extend .searchView__header;

    @include display(flex);
    @include justify-content(center);
    background-color: $callout-color-inactive;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    &:hover {
        background-color: $callout-color;
        color: white;
    }
}

button.searchView__header-toggle {
    @extend button.btn--header-toggle;
    &::before {
        background-image: url($close-white);
    }
}

button.searchView__header-reset-filter {
    @extend button.btn--header-toggle;
    color: map-get($map-colors, 'button-text-light-small');
    font-size: map-get($map-font-sizes, 'data-label');
}

button.searchView__update-results {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    
    color: white;
    background: none;
    text-transform: uppercase;

    &[disabled] {
        color: $map-grey;

        &::after {
            background: url($update-disabled) no-repeat center/70% 70%;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: $base-line-height;
        width: $base-line-height;
        background: url($update) no-repeat center/70% 70%;
        margin-left: 0.5em;
    }
}

.searchWidget__main {
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y + $searchview-header-height;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
}

.searchWidget__form {
    height: calc(100% - #{$searchview-header-height});
    overflow-y: scroll;
}

.searchWidget__separator {
    @extend .sidebar__separator;
}

.expandable-panel {
    button.toggle {
        background-color: transparent;
          width: 20px;
          color: transparent;


    &.collapsed:before {
        @include hide-text;
        padding: 0;
        font-family: "fontello";
        content: "\E806";
        color: black;

        width: $expand-collapse-btn-width;
        }
    &.expanded:before {
        font-family: "fontello";
        content: "\E807";
        color: black;
        @include hide-text;
        padding: 0;
        width: $expand-collapse-btn-width;
        }
    }
}

.expandable-panel:last-of-type .filter-input-group:last-of-type {
    margin-bottom: 0;
}

.filter-input-group {
    display: block;

    input::placeholder {
        font-size: map-get($map-font-sizes, 'base');
        color: gray;
        top: 2px;
        font-style: normal;
    }
}

.filter-input-group {
    margin-bottom: $searchview-heading-bottom-margin;
}

.filter-input-group__label {
    display: block;
    font-size: map-get($map-font-sizes, 'base');
    color: map-get($map-colors, 'body');
    font-weight: 600;
    line-height: 1;
    margin-bottom: $searchview-label-bottom-margin;
}

.filter-input-group__input-text {
    display: block;
    font-size: map-get($map-font-sizes, 'base');
    line-height: map-get($map-font-sizes, 'heading');
    padding-top: 0; // compensating for natural visual gap
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: $searchview-text-input-margin-left;
    width: calc(100% - #{$searchview-text-input-margin-left});
    color: map-get($map-colors, 'body');
    border: 1px solid #{map-get($map-colors, 'border')};

    &::placeholder {
        color: map-get($map-colors, 'placeholder');
    }
}

.date-range-select__range-container {
    @include display(flex);
    @include flex-wrap(nowrap);
    padding-left: $searchview-text-input-margin-left;
    margin-top: $searchview-section-header-bottom-margin / 2;
}

.date-range-select__helper-text {
    color: map-get($map-colors, 'body');
    font-size: map-get($map-font-sizes, 'section-title');
    margin-left: $searchview-text-input-margin-left / 4;
    margin-right: $searchview-text-input-margin-left / 4;

    &:first-of-type {
        margin-left: 0;
    }
}

.date-range-select__input-text {
    .searchView .filter-input-group .dateRangeSelect & {
        @extend .filter-input-group__input-text;
        @include flex-basis(auto);
        @include flex-shrink(1);

        display: inline-block;
        width: auto;
        margin-left: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.expandable-panel__title {
    .searchView & {
        font-size: map-get($map-font-sizes, 'section-title');
        font-weight: bold;
        color: map-get($map-colors, 'data-link');
        text-transform: uppercase;
        margin-bottom: $searchview-section-header-bottom-margin;
    }
}

#infrastructureToggleContainer {
    position: absolute;
}

#infrastructureToggleTitle {
    position: relative;
    top: 28px;
    left: 290px;
    background-color: $dark-night;
    color: $med-gray;
    padding: 8px;
}

#infrastructureToggle {
    position: absolute;
    z-index: 10;
    left: 290px;
    top: 70px;
    width: auto;
}

.infrastructureIcon__container {
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.infrastructureIcon__icon {
    display: inline-block;
    height: $searchview-infrastructure-icon-size; 
    width: $searchview-infrastructure-icon-size;

    &.rail-color {
        background-color: $rail-color;

        .infrastructureIcon__container:hover & {
            background-color: $rail-color-hover;
        }
    }
    &.road-color {
        background-color: $road-color;

        .infrastructureIcon__container:hover & {
            background-color: $road-color-hover;
        }
    }
    &.seaport-color {
        background-color: $seaport-color;

        .infrastructureIcon__container:hover & {
            background-color: $seaport-color-hover;
        }
    }
    &.intermodal-color {
        background-color: $intermodal-color;

        .infrastructureIcon__container:hover & {
            background-color: $intermodal-color-hover;
        }
    }
    &.powerplant-color {
        background-color: $powerplant-color;

        .infrastructureIcon__container:hover & {
            background-color: $powerplant-color-hover;
        }
    }
    &.selected {
        background-color: $map-disabled-header-grey;
    }

    .infrastructureIcon__container.selected:hover & {
        background-color: $map-light-grey;
    }
}

.infrastructureIcon__inner-icon {
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;

    img{
        margin: 5px;
    }
}

.infrastructureIcon__label {
    background-color: white;

    padding-left: $searchview-infrastructure-padding-left;
    padding-right: $searchview-infrastructure-padding-right;
    line-height: 40px;
    height: 40px;
    width: 100%;

    z-index: -1;
    transform: translateX(0);
    transition: transform 0.25s;

    .infrastructureIcon__container:hover & {
        background-color: $map-infrastructure-hover-grey;
    }
}

.infrastructureIcon__label--hidden {
    transform: translateX(-100%);
    transition: transform 0.25s;
}

.infrastructureIcon__label--selected {
    color: $map-grey;
    background-color: $map-disabled-grey;

    .infrastructureIcon__container:hover & {
        background-color: $map-infrastructure-hover-grey;
    }
}

.app-wrap {
    position: relative;
    .map-legend {
        position: absolute;
        display: block;
        width: 220px;
        height: 100px;
        background-color: $pale-green;
        border: 2px solid white;
        left: 15px;
        bottom: 15px;
        font: italic $compact-text-size $serif-font-family;
        color: $gravel-grey;

        ul {
            height: 88px;
            margin: 6px;
            @include display(flex);
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(center);
            li {
                @include flex(0 0 50%);
                @include display(inline-flex);
                @include flex-direction(row);
                @include justify-content(space-around);
                @include align-items(center);
                margin: 0;
                height: 25px;
                width: 50%;
                span, img {
                    @include flex(0 1 50%);
                    max-width: 50%;
                }
                span {
                    text-align: right;
                    margin-right: 5px;
                }
                img {
                    max-width: 25px;
                    vertical-align: middle;
                    &.line-art {
                        max-width: 40px;
                    }
                }
            }
        }
    }
}


.searchWidget {
    @include flex(0 0 auto);
    @include order(0);

}

#primarySearch {
    input, button {
        background-color: $dark-night;
        background-size: 50%;
    }
    input {
        max-width: 75%;
        padding: 8px $tiny-spacing 8px 8px;
        color: white;
    }
}

.resultsViewWrapper {
    display: block;
    position: relative;
    z-index: 0;
    height: 100%;

    &.no-results {
        display: none;
    }
}

.resultsView {
    ul.searchResults {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.resultsView__content {
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y + $searchview-header-height;
}

.resultsView__not-found {
    font-size: map-get($map-font-sizes, 'body');
    color: map-get($map-colors, 'body');
}

.resultsView__header-toggle {
    @extend button.btn--header-toggle;
    color: map-get($map-colors, 'header-toggle');

    &:hover {
        color: $map-hover-grey;
    }

    &::before {
        background-image: url($filter);
        height: 15px;
    }

    &:hover::before {
        background-image: url($filter-active);
    }
}

.resultsView__header-toggle--help {
    @extend .resultsView__header-toggle;
    &::before {
        background-image: url($help-circle);
        height: 1em;
        width: 1em;
    }
    &:hover::before {
        background-image: url($help-circle-active);
    }
}

.resultsView__main {
    height: calc(100% - #{$searchview-header-height});
    @include display(flex);
    @include flex-direction(column);

    overflow-y: scroll;
}

.resultsView__summary-info {
    .searchView & {
        font-size: map-get($map-font-sizes, 'heading');
        color: map-get($map-colors, 'number-of-projects-title');
        margin-bottom: $searchview-heading-bottom-margin;
    }
}

.resultsView__summary-info--with-results {
    .searchView & {
        margin-bottom: $searchview-section-header-bottom-margin * 3;
    }
}

.resultsView__subheading {
    @extend .sidebar__subheading;
}

.resultsView__body-text {
    @extend .sidebar__body-text;
}

.resultsView__separator {
    @extend .sidebar__separator;
}

.resultsView__pagination {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-content(stretch);
    @include align-items(center);

    position: absolute;
    left: 0;
    bottom: 0;
    height: $searchview-header-height;
    width: 100%;

    background-color: $pale-grey;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
}

.resultsView__pagination-buttonWrap {
    display: block;
    background-color: transparent;
    line-height: 1;
}

.resultsView__pagination-button {
    width: 100%;
    position: relative;
    height: $base-line-height;
    width: $base-line-height;
}

.resultsView__pagination-button--previous {
    @extend .resultsView__pagination-button;
    background: url($arrow-left) no-repeat center/70% 70%;

    &:hover {
        background: url($arrow-left-active) no-repeat center/70% 70%;
    }
}

.resultsView__pagination-button--next {
    @extend .resultsView__pagination-button;
    background: url($arrow-right) no-repeat center/70% 70%;

    &:hover {
        background: url($arrow-right-active) no-repeat center/70% 70%;
    }
}

.resultsView__pagination-buttonWrap--disabled {
    visibility: hidden;
}

.searchResults__result {
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y;
    margin-bottom: 0;
    position: relative;

    &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: $map-light-grey;
        position: absolute;
        bottom: 0;
        left: -$searchview-padding-x;
        width: calc(100% + #{2 * $searchview-padding-x});
    }

    &:first-of-type {
        padding-top: 0;
    }

    &:last-of-type {
        padding-bottom: 0;

        &::after {
            display: none;
        }
    }
}

.searchResults__buttonBar {
    @include display(flex);
    @include justify-content(space-between);
    padding-left: $searchview-text-input-margin-left;
}

.searchResults__button {
    font-size: map-get($map-font-sizes, 'data-label');
    text-transform: uppercase;
    padding: 6px 3px;
    @include flex(0 1 70%);
    @include order(0);
    background-color: $map-teal;
    color: $cloudy-blue;
    &:disabled {
        display: none;
    }
    &:hover{
        background-color: $map-teal-active;
        color: white;
    }
}

.projectResult {
    margin-bottom: $searchview-heading-bottom-margin;
}

.projectResult__title {
    font-size: map-get($map-font-sizes, 'base');
    font-weight: bold;
    margin-bottom: $searchview-heading-bottom-margin;
}

.projectResult__pin-button {
    display: inline-block;
    margin-left: 0.35em;

    &::after {
        cursor: pointer;
        background: url($map-pin-img) no-repeat center/70% 70%;
        display: inline-block;
        width: 1em;

        // use a space to ensure height == one text line
        content: " ";
        white-space: pre;
    }
}

.projectResult__section {
    padding-left: $searchview-text-input-margin-left;
    margin-bottom: $searchview-heading-bottom-margin;
}

.projectResult__data-label {
    font-size: map-get($map-font-sizes, 'data-label');
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.projectResult__section--initiatives-list {
    h2 {
        font-family: $sans-font-family;
        font-size: $search-text-size;
        margin-bottom: 3px;
        margin-left: 0px;
    }
}

.projectResult__initiatives-list {
    padding: 0 0 0 0px;
    margin: 0;
    list-style: none;
}

.projectResult__initiatives-list-item {
    font-size: map-get($map-font-sizes, 'base');
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.helpView {
    position: absolute;
    top: 0;
    height: 100%;
    width: $side-bar-width;
    z-index: 10;
    transform: translateX(-290px);
    transition: transform 0.3s;
    background: #fff;

    >header {
        background-color: $callout-color;
        h2{
            color: #fff;
        }
        a {
            background: url($close-white) no-repeat center/50% 50%;
        }
    }
    .textWrap {
        height: calc(100% - 70px);
        overflow: auto;

        h4 {
            text-transform: none;
            color: $callout-color;

        }
    }
}

.helpView__main {
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;

    height: calc(100% - #{$searchview-header-height});
    overflow-y: scroll;
}

.helpView__section {
    margin-bottom: $searchview-padding-y;
}

.helpView__section-heading {
    // NOTE: temporary specificity boost to be dispensed with
    // once embedded .searchView h2 rule is eliminated
    .searchView & {
        color: map-get($map-colors, 'heading');
        font-size: map-get($map-font-sizes, 'heading');
        font-weight: normal;
        margin-bottom: $searchview-heading-bottom-margin;
    }
}

.helpView__section-subheading {
    @extend .sidebar__subheading;
}

.helpView__separator {
    @extend .sidebar__separator;
}

.helpView__body-text {
    @extend .sidebar__body-text;
}

.inner.showHelp {
    .helpView {
        transform: translateX(0px);
    }
}

@media (max-width: $medium) {
    .searchView {
        display: none !important;
    }

    .app-wrap {
        margin-bottom: 24px;
    }

    .style-root,
    .search-map {
        height: auto !important;
    }
}