@import "variables";
@import "mixins";
@import "animations";
@import "lib/bourbon/bourbon",
"lib/neat/neat";
@import "../../../node_modules/react-select/dist/react-select.css";


$searchview-padding-x: 20px;
$searchview-padding-y: 24px;

$searchview-header-height: 50px;
$searchview-heading-bottom-margin: $searchview-padding-y / 2;
$searchview-body-text-bottom-margin: $searchview-heading-bottom-margin * 2;
$searchview-section-header-bottom-margin: 8px;
$searchview-label-bottom-margin: $searchview-section-header-bottom-margin / 2;
$searchview-text-input-margin-left: 16px;

$search-inner-height: 550px;
$results-view-max-height: 410px;
$scroll-max-height: $results-view-max-height - 46;

// Abstract base class for various specialized header toggle buttons.
button.btn--header-toggle {
    @include display(flex);
    @include flex-direction(row);
    @include align-items(center);
    background-color: transparent;
    color: white;
    font-size: map-get($map-font-sizes, 'base');
    font-family: $sans-font-family;
    text-transform: uppercase;
    padding: 0;

    > span {
        flex: 0 1 auto;
    }

    &::before {
        // This requires a background-image property in concrete classes.
        content: "";
        display: inline-block;
        flex: 0 1 auto;
        height: 11px;
        width: 1em;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: auto 100%;
    }
}

// Abstract class to be extended by various body text classes.
.sidebar__body-text {
    color: map-get($map-colors, 'body');
    font-size: map-get($map-font-sizes, 'body');
    margin-bottom: $searchview-body-text-bottom-margin;
}

// Abstract base class to be extended by various hr classes.
.sidebar__separator {
    margin-top: $searchview-padding-y;
    margin-bottom: $searchview-padding-y;
    margin-left: -$searchview-padding-x;
    margin-right: -$searchview-padding-x;
    border-width: 0.5px;
}

.searchView {
    width: $side-bar-width;
    font-size: map-get($map-font-sizes, 'base');
    z-index: 10;
    position: relative;
    top: 0px;
    right: 0px;
    width: $side-bar-width;
    height: 100%;

    @include media($megamap-break) {
        display: block;
    }
    header {
        a {
            display: block;
            height: $base-line-height;
            width: $base-line-height;
            opacity: 0.6;
        }

        a:hover {
            opacity: 1;
        }

        h2 {
            padding-left: $base-line-height;
        }

    }

    .searchWidget {
        width: $side-bar-width;
        height: 100%;
        background: #fff;
        position: absolute;
        top: 0;
        z-index: 10;
        transform: translateX(-290px);
        transition: transform 0.3s;
        
        > header {
            h2 {
                color: #fff;
            }
            a:first-child {
                background: url($close-white) no-repeat center/70% 70%;
            }
            a:last-child {
                width: 50%;
                text-align: right;
                color: #fff;
            }
        }
        .filterScroll {
            height: calc(100% - #{$searchview-header-height * 2});
            overflow: auto;
        }

        form {
            height: 100%;
        }
    }
    .inner.showFilters {
        .searchWidget {
            transform: translateX(0px);
        }
    }

    h2 {
        font-size: map-get($map-font-sizes, 'base');
        font-family: $sans-font-family;
        font-weight: bold;
        color: $callout-color;
        margin-bottom: $tiny-spacing;
    }

    footer {
        position: absolute;
        right: 0;
        top: 25px;

        a.button.help {
            @include hide-text;
            background: url($help-btn-img) center no-repeat;
            width: $search-btn-width;
            padding: 0;
        }
    }

    .inner {
        width: $side-bar-width;
        height: $search-inner-height;

        @include display(flex);
        @include flex-direction(column);
        @include justify-content(flex-start);

        // > div {
        //     padding: $tiny-spacing;
        // }
    }

    section {
        h4 {
            display: inline-block;
            color: $greyish-teal;
            font-size: $search-text-size;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0;
        }

    }
    section:last-child {
        border: none;
    }

    section.projectResult {
        border: none;
        h1 {
            padding-bottom: $small-spacing;
        }
    }
}

.searchView__header {
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);
    @include align-items(center);
    
    height: $searchview-header-height;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
    
    background-color: $callout-color;
}

.searchView__header--interactive {
    @include display(flex);
    @include justify-content(center);
    background-color: $callout-color-inactive;

    &:hover {
        background-color: $callout-color;
    }
}

.searchView__header--light {
    background-color: map-get($map-colors, 'header-background-light');
}

.searchView__header--disabled,
.searchView__header--disabled:hover {
    background-color: $map-disabled-grey;
    color: $map-grey;
}

button.searchView__header-toggle {
    @extend button.btn--header-toggle;
    &::before {
        background-image: url($close-white);
    }
}

button.searchView__header-reset-filter {
    @extend button.btn--header-toggle;
    color: map-get($map-colors, 'button-text-light-small');
    font-size: map-get($map-font-sizes, 'data-label');
}

button.searchView__update-results {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    
    background: none;
    text-transform: uppercase;

    &[disabled] {
        color: $map-grey;

        &::after {
            background: url($update-disabled) no-repeat center/70% 70%;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: $base-line-height;
        width: $base-line-height;
        background: url($update) no-repeat center/70% 70%;
        margin-left: 0.5em;
    }
}

.searchWidget__main {
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
}

.searchWidget__separator {
    @extend .sidebar__separator;
}

.expandable-panel {
    button.toggle {
        background-color: transparent;
          width: 20px;
          color: transparent;


    &.collapsed:before {
        @include hide-text;
        padding: 0;
        font-family: "fontello";
        content: "\E806";
        color: black;

        //background: url($expand-btn-img) center no-repeat;
        width: $expand-collapse-btn-width;
        }
    &.expanded:before {
            //background: url($collapse-btn-img) center no-repeat;
        font-family: "fontello";
        content: "\E807";
        color: black;
        @include hide-text;
        padding: 0;
        width: $expand-collapse-btn-width;
        }
    }
}

.filter-input-group {
    display: block;

    input::placeholder {
        font-size: $compact-text-size;
        color: gray;
        line-height: 24px;
        top: 2px;
        font-style: normal;
    }

    /* WARNING: This is nasty. Styling the .Select with margin-top
    so that we can click on the label. TODO: change this in React
    */
    .Select {
        .Select-control {
            background-color: transparent !important;
            cursor: pointer;
            input {
                height: 0px;
                padding: 0px;
            }
        }
    }
    .Select.has-value{
        outline: 0;
        outline: none !important;
        border: none;
        margin-top: 0px;
        .Select-control {
            margin-left: $small-spacing;
        }

    }
}

.filter-input-group {
    margin-bottom: $searchview-heading-bottom-margin;
}

.filter-input-group__label {
    display: block;
    font-size: map-get($map-font-sizes, 'base');
    color: map-get($map-colors, 'body');
    font-weight: 600;
    line-height: 1;
    margin-bottom: $searchview-label-bottom-margin;
}

.filter-input-group__label--with-plus {
    &::after {
        display: inline-block;
        content: "";
        background: url($plus) no-repeat center/70% 70%;
        display:inline-block;
        height: 16px;
        margin-bottom: -3px;
        width: $base-line-height;
    }
}

.filter-input-group__input-text {
    display: block;
    line-height: map-get($map-font-sizes, 'subheading');
    padding-top: 0; // compensating for natural visual gap
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: $searchview-text-input-margin-left;
    width: calc(100% - #{$searchview-text-input-margin-left});
    color: map-get($map-colors, 'body');
    border: 1px solid #{map-get($map-colors, 'border')};

    &::placeholder {
        color: map-get($map-colors, 'placeholder');
    }
}

.date-range-select__range-container {
    padding-left: $searchview-text-input-margin-left;
}

.date-range-select__helper-text {
    color: map-get($map-colors, 'body');
    font-size: map-get($map-font-sizes, 'section-title');
}

.date-range-select__input-text {
    .searchView .filter-input-group .dateRangeSelect & {
        @extend .filter-input-group__input-text;
        display: inline-block;
        width: auto;
        margin-left: 4px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.Select-control {
    font-size: 0;
    line-height: 0;
}
.Select-input {
    @extend .filter-input-group__input-text;
    height: 23px; // TODO: make this non-arbitrary
}
.Select--multi .Select-input {
    @extend .filter-input-group__input-text;
}
.Select--multi .Select-multi-value-wrapper {
    width: 100%;
}

.expandable-panel__title {
    .searchView & {
        font-size: map-get($map-font-sizes, 'section-title');
        font-weight: bold;
        color: map-get($map-colors, 'data-link');
        text-transform: uppercase;
        margin-bottom: $searchview-section-header-bottom-margin;
    }
}

#infrastructureToggleContainer {
    position: absolute;
}

#infrastructureToggleTitle {
    position: relative;
    top: 28px;
    left: 290px;
    background-color: $dark-night;
    color: $med-gray;
    padding: 8px;
}

#infrastructureToggle {
    background: #fff;
    position: absolute;
    z-index: 10;
    left: 290px;
    top: 70px;
    width: 100%;

    span span {
        display: block;
        height: 50px;
        width: 50px;
        cursor: pointer;

        img{
            margin: 5px;
        }
    }

    .rail-color {
        background-color: $rail-color;
    }
    .road-color {
        background-color: $road-color;
    }
    .seaport-color {
        background-color: $seaport-color;
    }
    .intermodal-color {
        background-color: $intermodal-color;
    }
    .powerplant-color {
        background-color: $powerplant-color;
    }
    span.selected {
        background-color: $warm-grey;
    }
}

.infrastructureIconContainer {
    display: flex;
    &:hover {
        cursor: pointer;
        background-color: $pale-grey;
    }
    &.selected {
        background-color: $pale-grey;
    }
}

.infrastructureIconLabel {
    padding: 12px;
    height: 50px;
    width: max-content;
}

.app-wrap {
    position: relative;
    .map-legend {
        position: absolute;
        display: block;
        width: 220px;
        height: 100px;
        background-color: $pale-green;
        border: 2px solid white;
        left: 15px;
        bottom: 15px;
        font: italic $compact-text-size $serif-font-family;
        color: $gravel-grey;

        ul {
            height: 88px;
            margin: 6px;
            @include display(flex);
            @include flex-direction(row);
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            @include align-items(center);
            li {
                @include flex(0 0 50%);
                @include display(inline-flex);
                @include flex-direction(row);
                @include justify-content(space-around);
                @include align-items(center);
                margin: 0;
                height: 25px;
                width: 50%;
                span, img {
                    @include flex(0 1 50%);
                    max-width: 50%;
                }
                span {
                    text-align: right;
                    margin-right: 5px;
                }
                img {
                    max-width: 25px;
                    vertical-align: middle;
                    &.line-art {
                        max-width: 40px;
                    }
                }
            }
        }
    }
}


.searchWidget {
    @include flex(0 0 auto);
    @include order(0);

}

.buttonBar {
    @include display(flex);
    @include justify-content(space-between);
    padding: $small-spacing;
}

.buttonBar > button {
    font-size: $compact-text-size;
    padding: 6px 3px;
    @include flex(0 1 70%);
    @include order(0);
    background-color: $green;
    color: white;
-webkit-transition: background-color .2s ease-in-out;
            transition: background-color .2s ease-in-out;
                   &:disabled {
        display: none;
    }
    &:hover{
        background-color: $greyish-teal;
    }
}

#primarySearch {
    input, button {
        background-color: $dark-night;
        background-size: 50%;
    }
    input {
        max-width: 75%;
        padding: 8px $tiny-spacing 8px 8px;
        color: white;
    }
}

.resultsViewWrapper {
    display: block;
    position: relative;
    z-index: 0;
    height: 100%;

    >header {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        a {
            display: block;
            height: $base-line-height;
            width: $base-line-height;
            opacity: 0.8;
        }
        a:first-child {
            background: url($filter) no-repeat center/90% 90%;
        }
        a:last-child {
            background: url($help-circle) no-repeat center/90% 90%;
        }
        a:hover {
            opacity: 1;
        }
        h2 {
            flex: 1;
            color: $callout-color;
        }
    }

    &.no-results {
        display: none;
    }
}

.resultsView {
    .scrollWrap {
        height: calc(100% - 18px);
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    > div {
        display: block;
        position: relative;
    }

    /* for the two links in the Curated results section. */
    .scrollContent {
        >section {
            a {
                display: block;
                padding-top: $small-spacing;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .resultsNav {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-content(stretch);

        padding: $base-line-height $base-line-height/1.5;
        background-color: $pale-grey;

        .buttonWrap {
            display: block;
            background-color: transparent;

            button {
                width: 100%;
                position: relative;
                height: $base-line-height;
                width: $base-line-height;
                transform: scale(1, 1);
                &:hover {
                    transform: scale(1.3, 1.3);
                }
                &:disabled {
                    opacity: 0.3;
                    transform: scale(1, 1);
                }
            }
            &:first-child button{
                background: url($arrow-left) no-repeat center/70% 70%;
            }
            &:last-child button{
                background: url($arrow-right) no-repeat center/70% 70%;
            }
            .pagination {
                flex: 1;
                line-height: $base-line-height;
            }
        }
    }

    ul.searchResults {
        list-style: none;
        padding: 0;
        margin: 0;

        > li {
            margin: 0 10px 8px 0;
            padding: 2px 4px 16px 0;
            border-bottom: 1px solid $slate-grey;


            &:last-of-type {
                border: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }

            h1 {
                font-family: $sans-font-family;
                font-size: $search-text-size;
                margin: 0 0 $tiny-spacing 0;
            }

            p {
                margin-bottom: $tiny-spacing;
            }
        }
    }
}

.resultsView__header-toggle {
    @extend button.btn--header-toggle;
    color: map-get($map-colors, 'header-toggle');

    &::before {
        background-image: url($filter);
        height: 15px;
    }
}

.resultsView__header-toggle--help {
    @extend .resultsView__header-toggle;
    &::before {
        background-image: url($help-circle);
        height: 1em;
        width: 1em;
    }
}

.resultsView__main {
    height: 100%;
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;
}

.resultsView__summary-info {
    .searchView & {
        font-size: map-get($map-font-sizes, 'heading');
        color: map-get($map-colors, 'number-of-projects-title');
        margin-bottom: $searchview-heading-bottom-margin;
    }
}

.resultsView__body-text {
    @extend .sidebar__body-text;
}

.initiativesList {
    h2 {
        font-family: $sans-font-family;
        font-size: $search-text-size;
        margin-bottom: 3px;
        margin-left: 0px;
    }
    ul {
        padding: 0 0 0 0px;
        margin: 0;
        list-style: square inside;
        li {
            font-size: $search-text-size;
            margin-bottom: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            a {
                margin: -15px;
            }
        }
    }
}

.searchView .filter-input-group .dateRangeSelect, .searchView .filter-input-group .CurrencyRangeSelect {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include align-items(center);
    @include align-content(space-between);
    min-height: 64px;
    > span {
        @include flex(0.25 0 auto);
        padding: 0 2px;
        text-align: center;
    }
    .Select {
        @include flex(1 0 100%);
    }
    .Select-menu-outer {
        width: auto;
    }
    .Select-value {
        line-height: 2em;
    }
    input {
        @include flex(0.5 1 auto);
        padding: 2px 10px;
        margin: 4px;
        overflow: hidden;
        border: 2px solid $pale-grey;
        width: 63px;
    }
    input:nth-child(1) {
        border: none;
        width: auto;
    }
}

// Rule specific for MS Edge
.searchView .sectionRow .dateRangeSelect .Select-input input {
    border: none;
}

.Select {
    font-family: $sans-font-family;
    font-size: $compact-text-size;
    .Select-input  {
        >input {
            padding: 4px 0 6px;
            width: 100% !important;
        }
    }
    .Select-control {
        color: black;
        border: none;
        border-radius: 0;
        height: auto;

        .Select-value {
            font-size: $compact-text-size;
            border: 1px solid $pale-grey;
        }
        .Select-value-icon {
            border-right: 1px solid $pale-grey;
        }
        .Select-value-label, .Select-clear-zone {
            color: black;
            &:hover {
                color: $dark-night transparent transparent;
            }
        }
    }
    .Select-placeholder {
        display: none;
    }
    .Select-arrow {
        display: none;
    }
    .Select-arrow-zone {
        display: none;
    }
    .Select-clear-zone {
        vertical-align: top;
    }

    .Select-menu-outer {
        background-color: $pale-grey;
        width: 100%;
        margin-left: $small-spacing;
    }
    .Select-option {
        color: black;
        background-color: $pale-grey;
        padding: 4px 6px;

        &:hover {
            background-color: $med-gray;
        }
        &:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    /* This is an attempt to remove the light blue halo surrounding the .Select elemnt.
    the issue is that it is likely a style added to the element, hence this is broke. */
    .is-open, .is-focused {
        border: none;
    }
}
.has-value.Select > .Select-control > .Select-value .Select-value-label,
.has-valueis-pseudo-focused.Select > .Select-control > .Select-value .Select-value-label,
.has-value.Select--single>.Select-control .Select-value .Select-value-label,
.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
.has-value.Select > .Select-control > .Select-value .Select-value-label {
    color: $dark-grey-blue;
    display: inline-block;
}

.Select--multi {
    .Select-value {
        margin: 3px 0 3px 3px;
        background-color: $pale-grey;
        color: $blue-steel;
        font-size: $compact-text-size;
    }
    .Select-value-icon {
        border-right-color: $blue-steel;
    }
}
.Select--single {
    .Select-value {
        // margin: 3px 0 3px 3px;
        background-color: $pale-grey;
        color: $blue-steel;
        font-size: $compact-text-size;
    }
}

.helpView {
    position: absolute;
    top: 0;
    height: 100%;
    width: $side-bar-width;
    z-index: 10;
    transform: translateX(-290px);
    transition: transform 0.3s;
    background: #fff;

    >header {
        background-color: $callout-color;
        h2{
            color: #fff;
        }
        a {
            background: url($close-white) no-repeat center/50% 50%;
        }
    }
    .textWrap {
        height: calc(100% - 70px);
        overflow: auto;

        h4 {
            text-transform: none;
            color: $callout-color;

        }
    }
}

.helpView__main {
    padding-top: $searchview-padding-y;
    padding-bottom: $searchview-padding-y;
    padding-left: $searchview-padding-x;
    padding-right: $searchview-padding-x;

    height: calc(100% - #{$searchview-header-height});
    overflow: auto;
}

.helpView__section-heading {
    // NOTE: temporary specificity boost to be dispensed with
    // once embedded .searchView h2 rule is eliminated
    .searchView & {
        color: map-get($map-colors, 'heading');
        font-size: map-get($map-font-sizes, 'heading');
        font-weight: normal;
        margin-bottom: $searchview-heading-bottom-margin;
    }
}

.helpView__section-subheading {
    color: map-get($map-colors, 'subheading');
    font-size: map-get($map-font-sizes, 'subheading');
    margin-bottom: $searchview-heading-bottom-margin;
}

.helpView__separator {
    @extend .sidebar__separator;
}

.helpView__body-text {
    @extend .sidebar__body-text;
}

.inner.showHelp {
    .helpView {
        transform: translateX(0px);
    }
}
