@import "variables";

.search, .search-form-wrap {
    .custom-dropdown > select {
        padding-right: 60px;
    }
}

.search-form-wrap {
    width: 60%;
    margin: 0 auto $large-spacing;

    form {
        width: 100%;
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);
        @include align-items(center);

        .search-controls {
            @include flex(1 1 auto);
        }
        span + .search-controls {
            @include flex(0 1 auto);
        }

        input {
            @include flex(0 1 auto);
        }

        input[type=search] {
            display: inline-block;
            @include flex(1 1 auto);
        }
    }
}

.search-controls {
    border: 2px solid $pale-green;
    background-color: #363d4e;
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(space-between);

    input {
        background-color: #363d4e;
        padding: $small-spacing;
    }

    input.primary {
        min-width: 320px;
        @include flex(1 0 auto);
    }

    input[type='submit'], button[type='submit'] {
        @include hide-text;
        padding: 0;
        margin-right: 8px;
        background: url($search-btn-active-img) center no-repeat;
        width: $search-btn-width;

        &[disabled] {
            background: url($search-btn-inactive-img) center no-repeat;
        }
    }

    button[type='reset'] {
        position: relative;
        @include hide-text;
        padding: 0;
        width: $search-btn-width;

        &::after {
            position: absolute;
            text-indent: 0;
            overflow: visible;
            content: "\00d7";
            width: 100%;
            height: 100%;
            font-size: 30px;
            font-weight: 200;
            font-family: $sans-font-family;
            left: 0;
            top: 0;
            padding: 50% 3px 50% 0;
        }
    }

    button {
        @include flex(0 1 auto);
        background-color: transparent;
    }

    input,
    label {
        background-color: transparent;
        @include flex(1 1 auto);
    }

    button[type='search'],
    button[type='submit'] {
        @include hide-text;
        padding: 0;
        margin-right: 8px;
        background: url($search-btn-active-img) center no-repeat;
        width: $search-btn-width;

        &[disabled] {
            background: url($search-btn-inactive-img) center no-repeat;
        }
    }
}

.search {
    margin-bottom: $small-spacing;

    form {
        @include display(flex);
        @include flex-direction(column);
        @include justify-content(space-around);
        @include media($medium-break) {
             @include flex-direction(row);
        }

        > button {
            @include flex(0 1 auto);
        }

         > input,
         > select,
        > div {
            @include flex(0.3 1 auto);
            margin: 0 0 6px;
            @include media($medium-break) {
                margin: 0;
            }
        }
    }
}

.selected-facets {
    font-size: $minor-text-size;
    display: block;
    position: relative;
    @include widows-peak($light-blue-arrow-img, $main-arrow-width, $adjust: 4px);
    border-bottom: $thin-border-width solid $blue-steel;
    margin-bottom: $medium-spacing;

    p {
        margin-bottom: 0.1rem;
        > span {
            font-size: $compact-text-size;
        }
    }

    .remove {
        font-size: $minor-text-size;
        font-weight: 500;
        text-decoration: none;
    }
}

.search-results {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);

    nav.pages {
        @include display(flex);
        @include flex-direction(row);
        @include justify-content(space-between);

        > p, > div, > ul {
            @include flex(0 1 auto);
            margin-bottom: 0;
        }

        p {
            padding-top: $tiny-spacing;
        }

        ul {
            display: block;
        }

        li {
            display: inline-block;
            position: relative;
            margin: 0;

            &:not(:last-child) {
                margin-right: $medium-spacing;
            }

            a {
                display: block;
                padding: $tiny-spacing;
            }
        }
    }

    > section {
        max-width: 100%;
        @include flex(1 1 auto);

        @include media($medium-break) {
            max-width: 80%;
        }

        > h3 {
            font-family: $serif-font-family;
            font-size: $section-hed-size;
        }

        ol {

            li {
                margin-bottom: $large-spacing;

                > section {
                    margin-left: $small-spacing;

                    p {
                        margin-bottom: $small-spacing;
                    }

                    h4 {
                        margin-bottom: $tiny-spacing;
                    }

                    > header {
                        /*
                            NOTE: Flex had alignment issues with section inside a standard li with display: list-item;
                            Tried removing whitespace and fiddling with align-items and whatnot.
                        */
                        h2 {
                            width: 75%;
                        }

                        h3 {
                            width: 25%;
                            text-transform: uppercase;
                        }

                        h2,
                        h3 {
                            display: inline-block;
                            vertical-align: top;

                            &:last-child {
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }

    > nav {
        max-width: 180px;
        @include flex(1 1 auto);

        h3 {
            text-transform: uppercase;
        }

        > ul {
            background-color: $light-green;

            > li:not(:last-child) {
                border-bottom: 1px solid $blue-steel;
            }

            li {
                display: block;
                margin: 0;

                h4 {
                    position: relative;
                    padding: $small-spacing 2 * $expand-collapse-btn-width $small-spacing $small-spacing;
                    cursor: pointer;
                    margin: 0;

                    &:hover {
                        color: lighten($gravel-grey, 10%);
                        transition: color 0.3s;
                    }

                    &::after {
                        content: "";
                        background-image: url($expand-btn-img);
                        background-position: 94% center;
                        background-repeat: no-repeat;
                        background-size: $expand-collapse-btn-width auto;
                        width: $expand-collapse-btn-width;
                        height: 100%;
                        position: absolute;
                        right: $expand-collapse-btn-width/2;
                        bottom: 0;
                    }

                    &.selected::after {
                        background-image: url($collapse-btn-img);
                    }
                }

                ol {
                    display: block;
                    margin: 0;
                    padding: $small-spacing 0;
                    background-color: $creamer;

                    > li {
                        font-size: rem(12);
                        display: block;

                        a {
                            color: $gravel-grey;
                            display: block;
                            padding: $tiny-spacing $small-spacing;

                            &:hover {
                                color: $medium-green;
                                transition: color 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
    @include media($medium-break) {
         @include flex-direction(row);
    }
}
