@import "lib/bourbon/bourbon", "lib/neat/neat";


// Sizes
$large: 1200px;
$medium: 768px;
$small: 400px; // for larger smartphones. $small is a bad label


$large-break: new-breakpoint(min-width $large);
$medium-break: new-breakpoint(min-width $medium 4);
$small-break: new-breakpoint(min-width $small 2);

$small-wrap: 96%;
$max-content-width: 980px;

// fonts
$em-base: 18px;
$base-font-size: $em-base;
$major-hed-size: rem(40);
$mid-hed-size: rem(22);
$mid-text-size: rem($base-font-size);
$section-hed-size: rem(26);
$minor-text-size: rem(16);
$compact-text-size: rem(12);
$nav-text-size: $minor-text-size;
$search-text-size: rem(14);
$base-line-height: 1.45em;
$sans-font-family: Lato, $helvetica;
$serif-font-family: Merriweather, $georgia;

// Colors

$pale-green: #d6e1d6;
$medium-green: #75986a;
$serious-green: #4e736c;
$dark-night: #252d3a;
$slate-grey: #556377;
$blue-steel: #788ca8;
$gravel-grey: #58585a;
$creamer: #eee8e4;
$searchheader-color: #323c49;
$placeholder-color: #788da9;

// Image URLs
$img-url-base: '/static/img/';
$logo-image: $img-url-base + 'ReConAsiaLogo.svg';
$banner-bg-img: $img-url-base + 'topographic_texture.svg';
$banner-bg-img-ie11: $img-url-base + 'topographic_texture.png';
$banner-img-size: 300px;
$main-arrow-img: $img-url-base + 'main-triangle.svg';
$main-arrow-width: 55px;
$small-arrow-img: $img-url-base + 'small-triangle.svg';
$small-arrow-width: 35px;
$small-arrow-height: 8px;
$expand-btn-img: $img-url-base + 'Expand_button.svg';
$collapse-btn-img: $img-url-base + 'Collapse_button.svg';
$expand-collapse-btn-width: 15px;
$search-btn-inactive-img: $img-url-base + 'Search_icon.svg';
$search-btn-active-img: $img-url-base + 'Search_icon_light.svg';
$search-btn-width: 25px;
$zoom-in-btn-img: $img-url-base + 'Zoom-In.svg';
$zoom-out-btn-img: $img-url-base + 'Zoom-Out.svg';
$help-btn-img: $img-url-base + 'Questionmark.svg';
$search-btn-width: 25px;

// Project & other images
$project-img: $img-url-base + 'Project.svg';
$rail-img: $img-url-base + 'Rail.svg';
$road-img: $img-url-base + 'Road.svg';
$seaport-img: $img-url-base + 'Seaport.svg';
$ict-img: $img-url-base + 'ICT.svg';
$energy-img: $img-url-base + 'Energy.svg';
$pipeline-img: $img-url-base + 'Pipeline.svg';
$organization-img: $img-url-base + 'Organization.svg';
$initiative-img: $img-url-base + 'Initiative.svg';
$event-img: $img-url-base + 'Event.svg';
$person-img: $img-url-base + 'Person.svg';


// Reusables

$thick-border-width: 5px;
$thin-border-width: 3px;
$thick-dark-border: $thick-border-width solid $dark-night;
$thin-dark-border: $thin-border-width solid $dark-night;
$section-spacing: 50px;
$large-spacing: 33px;
$medium-spacing: ceil($large-spacing * 0.6);
$small-spacing: ceil($large-spacing * 0.4);
$tiny-spacing: 4px;


// Grid
$grid-columns: 12;
