@import "lib/bourbon/bourbon";

@import url(https://fonts.googleapis.com/css?family=Merriweather|Lato:400,700,900);

// Basics
$max-page-width: 1600px;
$max-content-width: $max-page-width * 0.65;

// fonts
$em-base: 18px;
$base-font-size: $em-base;
$major-hed-size: rem(50);
$mid-hed-size: rem(22);
$mid-text-size: rem(20);
$section-hed-size: rem(32);
$minor-text-size: rem(16);
$nav-text-size: rem(18);
$base-line-height: 1.45em;
$sans-font-family: Lato, $helvetica;
$serif-font-family: Merriweather, $georgia;

// Colors

$pale-green: #d6e1d6;
$medium-green: #75986a;
$serious-green: #4e736c;
$dark-night: #252d3a;
$slate-grey: #556377;
$blue-steel: #788ca8;
$gravel-grey: #58585a;
$creamy: #eee8e4;


// Image URLs
$img-url-base: '/static/img/';
$logo-image-url: $img-url-base;
$top-banner-img-url: $img-url-base + 'top_banner_bg.svg';


// Reusables

$thick-dark-border: 5px solid $dark-night;
$thin-dark-border: 3px solid $dark-night;
$block-spacing: 40px;
$footer-horizontal-padding: $block-spacing*1.75
