@import "_variables";
@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "_normalize";
@import "map";
html {
    font-size: $base-font-size;
}
body {
    margin: 0;
    font: 1rem $sans-font-family;
    line-height: $base-line-height;
    color: $gravel-grey;
    @include font-feature-settings("liga", "kern");
}

h1 {
    font-family: $serif-font-family;
    font-size: $major-hed-size;
    line-height: 1.2em;
}

h2,h3,h4,h5,h6 {
    font-family: $sans-font-family;
    line-height: 1.25rem;
    margin: 0 0 0.75em;
}

p {
    margin: 0 0 2rem;
}

ul {
    margin: 0 0 1em;
    padding-left: 1em;
    line-height: 1.1rem;
}

nav {
    ul {
        padding-left: 0;
        li {
            list-style-type: none;
        }
    }
}


header {
    @include clearfix;
    background: no-repeat center/100% url($top-banner-img-url) $pale-green;
    height: 75px;
    border-top: $thick-dark-border;
    border-bottom: $thin-dark-border;
    h1 {
        font-size: 1rem;
        float: left;
        margin: 1rem 0;
        // text-indent: 100%;
        // white-space: nowrap;
        // overflow: hidden;
        // background-image: url($logo-image-url);
    }
    nav {
        float: right;
        margin: 1rem 60px 1rem 0;
        ul {
            li {
                display: inline-block;
                margin-left: 1em;
                margin-right: none;
                font-size: $nav-text-size;
                a {
                    padding: 3px 0 2px 1em;
                    font-weight: bold;
                    text-decoration: none;
                    color: $slate-grey;
                    border-bottom: 1px solid $slate-grey;
                }
            }
        }
    }
}

.details {
    h3 {
        display: inline-block;
        font-size: $mid-text-size;
        text-transform: uppercase;
    }
    .row {
        margin-bottom: $block-spacing;

        section {
            margin-bottom: 0;
        }
        &:nth-child(odd) h3 {
            color: $medium-green;
            border-bottom: 2px solid $medium-green;
        }
        &:nth-child(even) h3 {
            color: $slate-grey;
            border-bottom: 2px solid $slate-grey;
        }
    }


}

article {
    h1 {
        padding-bottom: 4px;
        border-bottom: 5px solid $blue-steel;
    }
    section {
        margin-bottom: $block-spacing;
    }
}

footer {
    border-top: $thin-dark-border;
    background-color: $pale-green;
    color: $dark-night;
    padding: $block-spacing 0;
    a {
        color: $dark-night;
        text-decoration: none;
    }
    nav {
        @include shift(1);
    }
}

.page-wrap {
    display: block;
    @include outer-container($max-page-width);
}

.content-wrap {
    @include outer-container($max-content-width);
    margin-bottom: 4rem;
}

.row {
    @include row();
}
@for $i from 1 through 12 {
    .col-#{$i} {
        @include span-columns($i);
    }
}
.search-map {
    @include row();
    position: relative;

    .map-container {
        width: inherit;
    }
    .search-controls {
        @include position(absolute, 2% 1.5% null null);
        @include size(33% auto);
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
        input {
            @include fill-parent;
            padding: 8px;
        }

    }
}
