@import "lib/bourbon/bourbon", "lib/neat/neat";
@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css");
/*
    Map styles
*/
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.marker-title {
    font-weight: 700;
}
.map-container {
    @include fill-parent;
    .mapboxgl-map {
        overflow: visible;
    }
}
.search-map {
    position: relative;
    .search-controls {
        @include position(absolute, 2% 1.5% null null);
        @include size(33% auto);
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
        input {
            @include fill-parent;
            padding: 8px;
        }
    }
}

.popup-content {
    width: 240px;
}
