@import "lib/bourbon/bourbon", "lib/neat/neat";
@import url("https://api.tiles.mapbox.com/mapbox-gl-js/v0.20.0/mapbox-gl.css");
/*
    Map styles
*/
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.marker-title {
    font-weight: 700;
}
.map-container {
    @include fill-parent;
    .mapboxgl-map {
        overflow: visible;
    }
}
.search-map {
    position: relative;
    .search-controls {
        @include position(absolute, 2% 1.5% null null);
        @include size(33% auto);
        box-shadow: 0 0 5px rgba(51, 51, 51, 0.2);
        input {
            @include fill-parent;
            padding: 8px;
        }
    }
}

.popup-content {
    width: 240px;
}

.searchView {
    max-width: 370px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    top: 20px;
    right: 20px;
    .expandable header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        button {
            flex: 0 0 auto;
        }
        h4 {
            display: inline-block;
            flex: 1 0 auto;
            margin: 0;
        }
    }
    .sectionRow {
        display: block;
        clear: both;
        margin-bottom: 4px;
    }
    footer {
        margin-top: 2px;
        button {
            display: block;
            font-size: 12px;
            width: 100%;
        }
    }
    button {
        background-color: #eee;
    }
    label {
        display: inline-block;
        width: 90px;
        margin-right: 3px;
        text-align: right;
    }
    input {
        background-color: transparent;
        margin-right: 6px;
    }
    select {
        max-width: 240px;
        margin-right: 6px;
        &:last-of-type {
            margin-right: 0;
        }
    }
    button,
    input,
    label {
        display: inline-block;
    }
    ul.searchResults {
        list-style: none;
        padding: 0 3px;
        margin: 0;
    }
    .searchWidget {
        flex: 0 0 auto;
        order: 0;
    }
    .buttonBar {
        display: flex;
        justify-content: space-between;
    }
    .buttonBar > button {
        flex: 0.4 1 auto;
        order: 0;
    }
    .searchBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
            flex: 0 1 auto;
        }
        input,
        label {
            flex: 1 0 auto;
        }
    }
}
