{% if not omit_form %}<form action="{% url 'search:search' %}">{% endif %}
    {% if not hide_categories %}
    <span class="custom-dropdown">
        <select name="facet">
            {# FIXME: Generate menu dynamically using info from search facet #}
            <option selected disabled>Categories</option>
            <option disabled>----------</option>
            <option {% if selected_category|lower in 'projects' %}selected{% endif %} value="_category:Project">Projects</option>
            <option {% if selected_category|lower in 'organizations' %}selected{% endif %} value="_category:Organization">Organizations</option>
            <option {% if selected_category|lower in 'initiatives' %}selected{% endif %} value="_category:Initiative">Initiatives</option>
            <option {% if selected_category|lower in 'events' %}selected{% endif %} value="_category:Event">Events</option>
            <option {% if selected_category|lower in 'persons' %}selected{% endif %} value="_category:Person">People</option>
        </select>
    </span>
    {% endif %}
    <div class="search-box">
    <div class="search-controls">
        <input type="search" class="primary" name="q" value="{{q}}" placeholder="Search">
        <button type="submit">Search</button>
    </div>
    </div>
{% if not omit_form %}</form>{% endif %}
