<table>{% load humanize %}
    <thead>
        <tr>
            <th>Source(s)</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>{% for funding in funding_list %}
        <tr>
            <td>
                <ul class="clean compact">{% for organization in funding.sources.all %}
                    <li><a href="{{ organization.get_absolute_url }}">{{ organization.name }}</a></li>{% endfor %}
                </ul>
            </td>
            <td><data value="{{funding.amount}}">{{funding.amount|intcomma|default:"Unknown"}}</data> {{funding.currency|default:""}}</td>
        </tr>{% endfor %}
    </tbody>
</table>
