{% extends "base.html" %}{% load staticfiles %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {
        width:  100%;
        height: 600px;
        display: block;
    }
</style>
<script src='{% static "js/mapmaker.js" %}'></script>
{% endblock %}

{% block pagetitle %}
Map | {{ block.super }}
{% endblock %}

{% block content %}
<article>

    <section class="map-container">
        <div id="map"></div>
    </section>
</article>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var paintStyles = {
            lines: {
                'line-width': 6,
                'line-color': '#FF0000'
            },
            points: {
                'circle-color': '#a81e3b',
                'circle-radius': 6
            },
            polygons: {
                'fill-color': '#0000FF'
            }
        }
        mapboxgl.accessToken = '{{mapbox_token|safe}}';
        var mm = new MapMaker(mapboxgl);

        mm.makeMap({
            container: 'map', // container id
            style: '{{mapbox_style|default:"mapbox://styles/mapbox/streets-v8"}}',
            center: {{default_center|default:"[-274.4953579099464, 22.440381130024562]"}}, // starting position
            zoom: 3 // starting zoom
        });
        mm.map.addControl(new mapboxgl.Navigation({position: 'top-left'}));

        mm.map.on('style.load', function () {
            mm.map.addSource('projects-centroids-src', mm.createGeoJSONSource('{% url "api:geostore-centroids-list" %}'));
            mm.map.addLayer(mm.layerFromSource('projects-centroids-layer', 'projects-centroids-src', 'circle'));

            var centroidsPopupHandler = mm.createPopUpHandlerForLayers(['projects-centroids-layer'], function(feature) {
                return "Project: " + feature.properties.project_name;
            });
            mm.map.on('click', centroidsPopupHandler);
        });
    });

</script>
{% endblock %}
