{% extends "base.html" %}{% load markymark %}{% load leaflet_tags %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {  /* all maps */
        width:  100%;
        height: 600px;
    }
</style>
{% endblock %}

{% block pagetitle %}
Map | {{ block.super }}
{% endblock %}

{% block content %}
<article class="project">

    <section class="map-container">
        <div id="map"></div>
    </section>

    <script type="text/javascript">
        var layer;
        mapboxgl.accessToken = '{{mapbox_token|safe}}';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v8', //stylesheet location
            center: {{default_center|default:"[-274.4953579099464, 22.440381130024562]"}}, // starting position
            zoom: 3 // starting zoom
        });
        map.addControl(new mapboxgl.Navigation({position: 'top-left'}));

        map.on('style.load', function () {
            map.addSource('projects-src', {
                'type': 'geojson',
                'data': ''
            });

            map.addLayer({
                "id": "allprojects",
                "type": "circle",
                "source": "projects-src",
                "paint": {
                    "circle-color": "red"
                    // "line-color": "red",
                    // "line-width": 2
                }
            });

            // layer = map.getLayer("allprojects");
            //
            // map.fitBounds(layer.getBounds());
        });
    </script>
</article>
{% endblock %}
