{% extends "base.html" %}{% load date_extras %}

{% block pagetitle %}{{ object.name }} | {{ block.super }}{% endblock %}

{% block extrahead %}{% include "_html_head.html" with title=object.full_display_name description=object.description_rendered %}{% endblock %}

{% block content %}
<div>
    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'database-home' %}">Database</a>
        </li>
        <li>
            <a href="{% url 'infrastructure:initiative-list' %}">Initiatives</a>
        </li>
        <li>
            {% if object.alternate_name %}{{ object.alternate_name }}{% else %}{{ object.name }}{% endif %}
        </li>
    </ul>
</div>
<article class="initiative details">
    <header class="decorated initiative">
        <h1>{{ object.name }}</h1>
    </header>
    {% if object.description_rendered %}
    <section class="featured">
        {{object.description_rendered}}
    </section>
    {% endif %}
    <div class="row triple">
        <section>
            <h3>Principal Agent</h3>
            <ul class="clean">
                <li>{% if object.principal_agent %}
                    <a href="{{object.principal_agent.get_absolute_url}}">{{object.principal_agent.name|default:"&mdash;"}}</a>
                    {% else %}
                    &mdash;
                    {% endif %}
                </li>
            </ul>
        </section>
        <section>
            <h3>Parent Initiative</h3>
            <p>{% if object.parent %}
                <a href="{{object.parent.get_absolute_url}}">{{object.parent.name|default:"&mdash;"}}</a>
                {% else %}
                &mdash;
                {% endif %}
            </p>
        </section>
        <section>
            <h3>Type</h3>
            <p>{{ object.initiative_type.name|default:"&mdash;" }}</p>
        </section>
    </div>
    <div class="row">
        <section>
            <h3>First Announced</h3>
            <p>{{object.fuzzy_appeared_date|fuzzydate:'N d Y'|default:'&mdash;'}}</p>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Members</h3>
            <ul class="clean multicolumn">{% for item in object.member_countries.all  %}
                <li>{{item.name}}</li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Geographic Scope</h3>
            <ul class="clean multicolumn">{% for item in object.geographic_scope.all  %}
                <li>{{item.name}}</li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Related Organizations</h3>
            <ul class="clean multicolumn">{% for item in object.affiliated_organizations.all  %}
                <li><a href="{{item.get_absolute_url}}">{{item.name}}</a></li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Related Initiatives</h3>
            <ul class="clean multicolumn">{% for item in object.related_initiatives.all  %}
                <li><a href="{{item.get_absolute_url}}">{{item.name}}</a></li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Related Projects</h3>
            <ul class="clean multicolumn">{% for item in object.project_set.all %}
               {% if item.published == True %}
                <li><a href="{{item.get_absolute_url}}">{{item.alternate_name|default:item.name}}</a></li>
               {% endif %}
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Related Events</h3>
            <ul class="clean multicolumn">{% for item in object.affiliated_events.all  %}
                <li><a href="{{item.get_absolute_url}}">{{item.name}}</a></li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    <div class="row">
        <section class="maximized">
            <h3>Related People</h3>
            <ul class="clean multicolumn">{% for item in object.affiliated_people.all  %}
                <li><a href="{{item.get_absolute_url}}">{{item.full_display_name}}</a></li>
            {% empty %}
                <li>&mdash;</li>
            {% endfor %}
            </ul>
        </section>
    </div>
    {% if object.documents.count %}
    <section class="documents featured">
        <h2>Documentation</h2>
        <div class="wrap">
            <ul class="clean">{% for doc in object.documents.all %}
                <li>
                    <a href="{{ doc.source_file.canonical_url }}">{{ doc.source_file.original_filename }}</a>
                    {% if doc.url %}
                    &nbsp;<a rel="external nofollow" target="_blank" href="{{doc.url}}">[Source]</a>
                    {% endif %}
                </li>
                {% empty %}
                <li>&mdash;</li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {% endif %}
</article>
{% endblock %}
