{% extends "base.html" %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}


{% block content %}
<article class="initiative">
    <header class="decorated initiative">
        <h1>{{ object.name }}</h1>
    </header>
    <h3>Type: {{ object.initiative_type.name|default:"Not specified" }}</h3>
    {% if object.founding_date %}
    <dl>
        <dt>Founded</dt>
        <dd>{{ object.founding_date }}</dd>
    </dl>
    {% endif %}
    <section class="projects">
        <h2>Projects ({{ object.project_set.count }})</h2>
        <ul>{% for related_object in object.project_set.all %}
            <li>
                <a href="{{ related_object.get_absolute_url }}">{{ related_object.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

</article>
{% endblock %}
