{% extends "base.html" %}{% load static from staticfiles %}

{% block pagetitle %}
Map | {{ block.super }}
{% endblock %}

{% block bodyclass %}map{% endblock %}

{% block extrahead %}
{{ block.super }}
<style media="screen">
    .search-map {
        height: 600px;
    }
</style>

{% endblock %}

{% block content-shell %}
<div class="app-wrap">
    <div id="app" class="search-map"></div>
</div>
<div id="mapbreak"></div>
<div class="row">
    <div class="sponsors">
        <h2 class='section-title'>In partnership with</h2>
        <img src="{% static 'img/sponsors/Doosan_Logo_BlackOnly_final.png' %}" alt="Doosan">
    </div>
</div>
{% endblock %}



{% block postbodyjs %}
<script src='{% static "js/megamap.js" %}'></script>
{% endblock %}
