{% extends "base.html" %}{% load staticfiles %}{% load humanize %}{% load date_extras %}

{% block extrahead %}
{% include "_html_head.html" with title=object.alternate_name description=object.description_rendered %}
<style>
    #map {
        width:  100%;
        height: 400px;
        display: block;
    }
</style>
<script src='{% static "js/projectmap.js" %}'></script>
{% endblock %}

{% block pagetitle %}{{ object.name }} | {{ block.super }}{% endblock %}

{% block bodyclass %}powerplant{% endblock %}

{% block content %}
<div>
    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'database-home' %}">Database</a>
        </li>
        <li>
            {{ object.name }}
        </li>
    </ul>
</div>
<article>
    <header
    class='decorated infrastructure{% if object.infrastructure_type %} {{object.infrastructure_type.slug}}{% endif %}'
    >
        <h1>{% if object.alternate_name %}{{ object.alternate_name }}
        {% else %}{{ object.name }}{% endif %}
        </h1>
    </header>
{% if object.geo %}
    <section class="map-container">
        <div id="map"></div>
    </section>
{% endif %}
    <section class="details">
        {% if object.description_rendered %}
        <section class="description">
          {{ object.description_rendered|safe }}
        </section>
        {% endif %}

        <section class="associated-objects">
          <span><strong>Associated Projects</strong>: </span>{% for project in object.project_set.published %}<span><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></span>{% if not forloop.last %}, {% endif %}{% endfor %}
        </section>


        <div class="row">
            <section>
                <h3>Locations</h3>
                <ul class="clean">{% for country in object.countries.all %}
                    <li><a href="{% url 'infrastructure:country-project-list' country_slug=country.slug %}">{{ country.name }}</a></li>{% endfor %}
                </ul>
            </section>
            <section>
                <h3>Type</h3>
                <p>{{ object.infrastructure_type.name }}</p>
            </section>
            <section>
                <h3>Status</h3>
                <p>{{ object.get_status_display|default:'&mdash;' }}</p>
            </section>
            <section>
                <h3>Total Reported Cost</h3>
                {% spaceless %}
                {% if object.total_cost %}
                <p>{{ object.total_cost|intword }} {{ object.total_cost_currency|default:"(Unspecified currency)" }}</p>
                {% else %}
                <p>&mdash;</p>
                {% endif %}
                {% endspaceless %}
            </section>
            <section>
                <h3>Initiatives</h3>
                {% if object.initiatives.all %}
                <ul class="clean">{% for initiative in object.initiatives.all %}
                    <li><a href="{{ initiative.get_absolute_url }}">{{ initiative.name }}</a></li>{% endfor %}
                </ul>
                {% else %}
                <p>&mdash;</p>
                {% endif %}
            </section>
        </div>
        <div class="row double">
            <section>
                <h3>Date Online</h3>
                <p>{{object.fuzzy_plant_online_date|fuzzydate:'N d Y'|default:'&mdash;'}}</p>
            </section>
            <section>
                <h3>Decommissioning Date</h3>
                <p>{{object.fuzzy_decommissioning_date|fuzzydate:'N d Y'|default:'&mdash;'}}</p>
            </section>
        </div>
        <div class="row">
            <section>
                <h3>Owners</h3>
                {% include "infrastructure/_related_organization_list.html" with organization_list=object.contractors.all %}
            </section>
        </div>
    </section>

    <section class="related-power-data">
      <h2>Related Power Data</h2>
      <div class="row double">
          <section>
              <h3>Capacity</h3>
              <p>{% if object.plant_capacity and object.plant_capacity_unit %}{{ object.plant_capacity }} {{ object.plant_capacity_unit }}{% else %}Unknown{% endif %}</p>
          </section>
          <section>
              <h3>Estimated Output</h3>
              <p>{% if object.estimated_plant_output and object.estimated_plant_output_unit %}{{ object.estimated_plant_output }} {{ object.estimated_plant_output_unit }}{% else %}Unknown{% endif %}</p>
          </section>
      </div>
      <div class="row double">
          <section>
              <h3>Fuel</h3>
              {% for fuel in object.fuels.all %}
                <div>{{ fuel }}</div>
              {% endfor %}
          </section>
          <section>
              <h3>CO2 Emissions</h3>
              <p>{% if object.plant_CO2_emissions and object.plant_CO2_emissions_unit %}{{ object.plant_CO2_emissions }} {{ object.plant_CO2_emissions_unit }}{% else %}Unknown{% endif %}</p>
          </section>
      </div>
    </section>


</article>
{% endblock %}


{% block postbodyjs %}
{% if object.geo %}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function () {

    var geostore_url = "{% url 'api:geometrystore-detail' identifier=object.geo.identifier format='json' %}";
    var infrastructureType = "{{ object.infrastructure_type.name|lower|default:'' }}";

    var app = new ProjectDetail.Map(geostore_url, {
        accessToken: '{{mapbox_token|safe}}',
        container: "map",
        style: '{{mapbox_style|default:"mapbox://styles/mapbox/streets-v8"}}',
        center: {{default_center|default:"[94.49535790994639, 22.440381130024562]"}},
        disableHandlers: ['dragRotate', 'keyboard', 'touchZoomRotate'],
    }, infrastructureType);

});
</script>
{% endif %}
{% endblock %}
