{% extends "base.html" %}{% load markymark %}{% load staticfiles %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {
        width:  100%;
        height: 400px;
        display: block;
    }
    .mapboxgl-popup {
            max-width: 400px;
            font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
    .marker-title {
        font-weight: 700;
    }
</style>
<script src='{% static "js/project.js" %}'></script>
{% endblock %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<article class="project">
    <h2>{{ object.name }}</h2>{% if object.initiative %}
    <h3>Initiative: <a href="{{ object.initiative.get_absolute_url }}">{{ object.initiative.name }}</a></h3>
{% endif %}
    <p>{{ object.get_countries_display }}</p>

    <section class="map-container">
        <div id="map"></div>
    </section>

    <section class="notes">
{{ object.notes|markdown }}
    </section>


    <section class="documents">
        <h3>Documents</h3>
        <ul>{% for doc in object.documents.all  %}
            <li>
                <a rel="external" target="_blank" href="{{ doc.source_url }}">Document source</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script type="text/javascript">
        mapboxgl.accessToken = '{{mapbox_token|safe}}';

        var geoLayers = [];
{% if object.geo.points.exists %}
        geoLayers.push({
            src: {
                type: 'geojson',
                data: "{% url 'geostore-points' identifier=object.geo.identifier %}"
            },
            layer: {
                id: "project-points",
                source: "project-points-src",
                type: "circle",
            }
        });
{% endif %}
{% if object.geo.lines.exists %}
        geoLayers.push({
            src: {
                type: 'geojson',
                data: "{% url 'geostore-lines' identifier=object.geo.identifier %}"
            },
            layer: {
                id: "project-lines",
                type: "line",
                source: "project-lines-src",
                paint: {
                    "line-color": "blue",
                    "line-width": 2
                }
            }
        });
{% endif %}
    var bbox = [{% for val in object.geo.calculate_overall_extent %}{% spaceless %}
        {{val}}{% if not forloop.last%},{% endif %}{% endspaceless %}{% endfor %}];

        var proj = new ProjectMap(mapboxgl, {
            container: "map",
            center: {{default_center|default:"[94.49535790994639, 22.440381130024562]"}}
        });

        proj.map.on('style.load', function () {
            var bounding = {
                bbox: bbox,
                maxZoom: 15,
                padding: 10
            }
            proj.addLayers([geoLayers[0]], bounding);

            proj.setPopupLayers(['project-points']);
            // var tooltip = new mapboxgl.Popup({closeOnClick: false})
            //     .setLngLat([100.544445, 20.872203])
            //     .setHTML('<h1>Hello World!</h1>')
            //     .addTo(proj.map);
        });
    </script>
</article>
{% endblock %}
