{% extends "base.html" %}{% load markymark %}{% load staticfiles %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.17.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {
        width:  100%;
        height: 400px;
        display: block;
    }
</style>
<script src='{% static "js/mapmaker.js" %}'></script>
{% endblock %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<article class="project">
    <h2>{{ object.name }}</h2>{% if object.initiative %}
    <h3>Initiative: <a href="{{ object.initiative.get_absolute_url }}">{{ object.initiative.name }}</a></h3>
{% endif %}
    <p>{{ object.get_countries_display }}</p>

{% if object.geo %}
    <section class="map-container">
        <div id="map"></div>
    </section>
{% endif %}

    <section class="notes">
{{ object.notes|markdown }}
    </section>


    <section class="documents">
        <h3>Documents</h3>
        {% regroup object.documents.all by get_document_type_display as docs_list %}
        {% for doc_type in docs_list %}
        <h4>{{doc_type.grouper}}</h4>
        <ul>{% for doc in doc_type.list  %}
            <li>
                <a rel="external" target="_blank" href="{{ doc.source_url }}">{{ doc.source_url }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </section>
    {% if object.geo %}
    <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var httpRequest, geostore;
        var linePaint = {
            'line-color': '#FF0000',
            'line-width': 3,
            'line-opacity': 0.6
        };
        var lineLayout = { 'line-cap': 'round' };

        function mapProject(data, camera) {


            if (data.lines && data.lines.features.length > 0) {
                mm.map.addSource('lines-src', mm.createGeoJSONSource(data.lines));
                mm.map.addLayer(mm.layerFromSource('lines-layer', 'lines-src', 'line', linePaint, lineLayout));
            }
            if (data.points && data.points.features.length > 0) {
                mm.map.addSource('points-src', mm.createGeoJSONSource(data.points));
                mm.map.addLayer(mm.layerFromSource('points-layer', 'points-src', 'circle'));
            }
            if (data.polygons && data.polygons.features.length > 0) {
                mm.map.addSource('polygons-src', mm.createGeoJSONSource(data.polygons));
                mm.map.addLayer(mm.layerFromSource('polygons-layer', 'polygons-src', 'fill'));
            }
            mm.map.fitBounds(camera.bounds, camera);
            // var centroidsPopupHandler = mm.createPopUpHandlerForLayers(['points-layer'], function(feature) {
            //     return "<p>Hello</p>";
            // });
            // mm.map.on('click', centroidsPopupHandler);
        }

        var geostore_url = "{% url 'api:geometrystore-detail' identifier=object.geo.identifier format='json' %}";


        mapboxgl.accessToken = '{{mapbox_token|safe}}';
        var mm = new MapMaker(mapboxgl);
        mm.makeMap({
            container: "map",
            style: '{{mapbox_style|default:"mapbox://styles/mapbox/streets-v8"}}',
            center: {{default_center|default:"[94.49535790994639, 22.440381130024562]"}}
        });
        mm.map.addControl(new mapboxgl.Navigation({position: 'top-left'}));

        mm.map.on('load', function () {
            var camera = {
                bounds: [{% for val in object.geo.calculate_overall_extent %}{% spaceless %}
                    {{val}}{% if not forloop.last%},{% endif %}{% endspaceless %}{% endfor %}],
                maxZoom: 15,
                padding: 10
            }

            if (geostore_url) {
                httpRequest = new XMLHttpRequest();
                httpRequest.addEventListener("readystatechange", function () {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        geostore = JSON.parse(httpRequest.responseText);
                        mapProject(geostore, camera);
                    }
                })

                httpRequest.open('GET', geostore_url, true);
                httpRequest.send();
            }

        });
    });
    </script>
    {% endif %}
</article>
{% endblock %}
