{% extends "base.html" %}{% load markymark %}{% load staticfiles %}

{% block extrahead %}
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.16.0/mapbox-gl.css' rel='stylesheet' />
<style>
    #map {  /* all maps */
        width:  100%;
        height: 400px;
    }
</style>
<script src='{% static "js/project.js" %}'></script>
{% endblock %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<article class="project">
    <h2>{{ object.name }}</h2>{% if object.initiative %}
    <h3>Initiative: <a href="{{ object.initiative.get_absolute_url }}">{{ object.initiative.name }}</a></h3>
{% endif %}
    <p>{{ object.get_countries_display }}</p>

    <section class="map-container">
        <div id="map"></div>
    </section>

    <section class="notes">
{{ object.notes|markdown }}
    </section>


    <section class="documents">
        <h3>Documents</h3>
        <ul>{% for doc in object.documents.all  %}
            <li>
                <a rel="external" target="_blank" href="{{ doc.source_url }}">Document source</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script type="text/javascript">
        mapboxgl.accessToken = '{{mapbox_token|safe}}';

        var geoLayers = [];
{% if object.geo.points.exists %}
        geoLayers.push({
            src: {
                type: 'geojson',
                cluster: true,
                data: "{% url 'geostore-points' identifier=object.geo.identifier %}"
            },
            layer: {
                id: "project-points",
                type: "circle",
                source: "project-points-src",
                paint: {
                    "circle-color": "red"
                }
            }
        });
{% endif %}
{% if object.geo.lines.exists %}
        geoLayers.push({
            src: {
                type: 'geojson',
                data: "{% url 'geostore-lines' identifier=object.geo.identifier %}"
            },
            layer: {
                id: "project-lines",
                type: "line",
                source: "project-lines-src",
                paint: {
                    "line-color": "blue",
                    "line-width": 2
                }
            }
        });
{% endif %}
    var bbox = [{% for val in object.geo.calculate_overall_extent %}{% spaceless %}
        {{val}}{% if not forloop.last%},{% endif %}{% endspaceless %}{% endfor %}];

        var map = projectmap.createMap(mapboxgl, {
            container: "map",
            center: {{default_center|default:"[-274.4953579099464, 22.440381130024562]"}},
            mapLayers: geoLayers,
            bounds: {
                bbox: bbox,
                maxZoom: 15,
                padding: 10
            }
        });
    </script>
</article>
{% endblock %}
