{% extends "base.html" %}

{% block content %}
<div>
    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'database-home' %}">Database</a>
        </li>
        <li>
            <a href="{% url 'facts:event-list' %}">Events</a>
        </li>
        <li>
            {{object.name}}
        </li>
    </ul>
</div>
<article>
    <h1>{{ object.name }}</h1>
    <ul>
        <li>{{ object.start_date }}</li>
        <li>{{ object.end_date }}</li>
    </ul>
    <section class='description'>
        {{ object.description_rendered|safe }}
    </section>
</article>
{% endblock %}
