{% extends "base.html" %}

{% block pagetitle %}Events | {{ block.super }}{% endblock %}

{% block bodyclass %}list{% endblock %}

{% block content %}
<div>
    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'database-home' %}">Database</a>
        </li>
        <li>
            Events
        </li>
    </ul>
</div>
<header>
    <h2>Events</h2>
</header>
{% if page_obj %}{% include "website/_pagination_controls.html" %}{% endif %}

<ul>
{% for object in object_list  %}
    <li>
        <a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
    </li>
{% endfor %}
</ul>

{% if page_obj %}{% include "website/_pagination_controls.html" %}{% endif %}
{% endblock %}
