{% extends "base.html" %} {% load humanize %}{% load date_extras %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<article>
    <header class="decorated organization">
        <h1>{{ object.name }}</h1>
    </header>
    {% if object.description %}
    <section class="featured">
        {{object.description_rendered|safe}}
    </section>
    {% endif %}
    <section class="details">
        <div class="row">
            <section>
                <h3>Headquarters</h3>
                {% if object.headquarters %}
                <p>{{object.headquarters.city}}, {{object.headquarters.country}}</p>
                {% endif %}
            </section>
            <section>
                <h3>Parent Organization</h3>
                <p>
                {% if object.parent %}
                <a href="{{object.parent.get_absolute_url}}">{{object.parent.name}}</a>
                {% else %}
                &mdash;
                {% endif %}
                </p>
            </section>
            <section>
                <h3>Leader</h3>
                <ul class="clean">{% for leader in object.leaders.all %}
                    <li>{{leader.full_display_name}}</li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
        <div class="row">
            <section>
                <h3>Staff/Personnel Count</h3>
                <p>{{ object.staff_size|default:'&mdash;'|intcomma }}</p>
            </section>
            <section>
                <h3>Founding Date</h3>
                <p>{{object.fuzzy_founding_date|fuzzydate:'N d Y'|default:'&mdash;'}}</p>
            </section>
            <section>
                <h3>Sector</h3>
                <p>{{ object.companydetails.get_sector_list_display|default:"&mdash;" }}</p>
            </section>
            <section>
                <h3>Type</h3>
                <p>{{object.companydetails.org_type|default:"&mdash"}}</p>
            </section>
        </div>
        <div class="row">
            <section>
                <h3>Related Organizations</h3>
                {% include "infrastructure/_related_organization_list.html" with organization_list=object.related_organizations.all %}
            </section>
            <section>
                <h3>Related Initiatives</h3>
                <ul class="clean">{% for org in object.initiatives.all %}
                    <li><a href="{{org.get_absolute_url}}">{{ org.name }}</a></li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h3>Related Events</h3>
                <ul class="clean">{% for event in object.related_events.all %}
                    <li><a href="{{event.get_absolute_url}}">{{ event.name }}</a></li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>
</article>
{% endblock %}
