{% extends "base.html" %}

{% block pagetitle %}
{{ object.name }} | {{ block.super }}
{% endblock %}

{% block content %}
<article class="">
    <header class="decorated organization">
        <h1>{{ object.name }}</h1>
    </header>
    {% if object.mission %}
    <section>
        <h2>Mission</h2>
        {{object.mission_rendered|safe}}
    </section>
    {% endif %}
    {% if object.companydetails %}
    <section class="details company">
        <h2>Company Details</h2>
        <dl>
            <dt>Sector</dt>
            <dd>{{ object.companydetails.get_sector_display|default:"Unspecified" }}</dd>
            <dt>Company Type</dt>
            <dd>{{ object.companydetails.org_type|default:"Unspecified" }}</dd>
            <dt>Company Structure</dt>
            <dd>{{ object.companydetails.structure|default:"Unspecified" }}</dd>
        </dl>
    </section>
    {% endif %}


    {% if object.governmentdetails %}
    <section class="details government">
        <h2>Government Details</h2>
        {{ object.governmentdetails.country }}
    </section>
    {% endif %}

    <section class="projects">{% spaceless %}
        {% if object.projects_consulted.exists %}
        {% include "facts/_related_projects.html" with projects_list=object.projects_consulted.all organization_role="consultancies" %}
        {% endif %}

        {% if object.projects_contracted.exists %}
        {% include "facts/_related_projects.html" with projects_list=object.projects_contracted.all organization_role="contracts" %}
        {% endif %}

        {% if object.projectfunding_set.exists %}
        {% include "facts/_related_funded_projects.html" with funding_list=object.projectfunding_set.all slice_size=":10" %}
        {% endif %}

        {% if object.projects_implemented.exists %}
        {% include "facts/_related_projects.html" with projects_list=object.projects_implemented.all organization_role="implemented" %}
        {% endif %}

        {% if object.projects_operated.exists %}
        {% include "facts/_related_projects.html" with projects_list=object.projects_operated.all organization_role="operated" %}
        {% endif %}
        {% endspaceless %}
    </section>
</article>
{% endblock %}
