{% extends "base.html" %}

{% block pagetitle %}{{ object.full_display_name }} | {{ block.super }}{% endblock %}

{% block extrahead %}{% include "_html_head.html" with title=object.full_display_name description=object.description_rendered %}{% endblock %}

{% block content %}
<div>
    <ul class="breadcrumbs">
        <li>
            <a href="{% url 'database-home' %}">Database</a>
        </li>
        <li>
            <a href="{% url 'facts:person-list' %}">People</a>
        </li>
        <li>
            {{object.full_display_name}}
        </li>
    </ul>
</div>
<article class='person'>
    <header class='decorated person'>
        <h1>{{ object.full_display_name }}</h1>
    </header>
    {% if object.description or object.image %}
    <section class="featured description">
        <div class="row spaced compact">
            {% if object.image %}
            <div>
                <figure>
                    <img src="{{object.image.url}}" alt="{{object.image.default_alt_text}}" />
                    <figcaption>{{object.image.default_caption|default:""}}</figcaption>
                </figure>
            </div>
            {% endif %}
            <div>
                {{ object.description_rendered|safe }}
            </div>
        </div>
    </section>
    {% endif %}
    <section class="details">
        <div class="row">
            <section>
                <h3>Citizenships</h3>
                <ul class="clean">{% for country in object.citizenships.all %}
                    <li>{{ country.name }}</li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
            <section class="detailed">
                <h3>Positions</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Organization</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>{% for position in object.position_set.all %}
                        <tr>
                            <td>{{ position.title }}</td>
                            <td><a href="{{ position.organization.get_absolute_url }}">{{ position.organization.name|truncatewords:9 }}</a></td>
                            <td>{% if position.start_year or position.end_year %}
                                {{ position.start_year|default:"" }} &mdash; {{ position.end_year|default:"" }}
                                {% else %}
                                &mdash;
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </section>
        </div>
        <div class="row double">
            <section>
                <h3>Events</h3>
                <ul class="clean">{% for event in object.events.all %}
                    <li><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
            <section>
                <h3>Initiatives</h3>
                <ul class="clean">{% for initiative in object.initiative_set.all %}
                    <li><a href="{{ initiative.get_absolute_url }}">{{ initiative.name }}</a></li>
                    {% empty %}
                    <li>&mdash;</li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </section>

</article>
{% endblock %}
