.form-horizontal .inline-related .select2 span {
    display: block;
}

.filerFile .related-lookup {
    text-indent: 0%;
}

.input-wide .vTextField {
    min-width: 60%;
    padding-left: 0;
    padding-right: 0;
}
