
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e806'; } /* '' */
.icon-up-open-big:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */