{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block pagetitle %}Reconnecting Asia{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href='{% static "css/site.min.css" %}' media="screen">
{% block extrahead %}{% endblock %}
        <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        // TODO: Set up Analytics tracker code
        // ga('create', 'UA-XXXXX-Y', 'auto');
        // ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header role="banner">
            <div class="wrap">
                <div class="headers">
                    <a href="/"><h1>Reconnecting Asia</h1></a>
                    <h2>Mapping continental ambitions</h2>
                </div>
                {% include "_navigation.html" %}
            </div>
        </header>
        <div class='widows-peak'></div>
{% block content-shell %}
        <div class="content-wrap">
            {% block content %}{% endblock content %}
        </div>
{% endblock %}
        <footer>
            <div class="wrap">
                {% include "_navigation.html" with showhome=True %}
                <div class="branding">
                    <img class="logo" src="{% static 'img/csis_logo_gray.svg' %}" alt="Center for Strategic and International Studies">
                    <aside>
                        <p>This project, like many of the efforts it tracks, is a work in progress. <a href="#"><strong>Help us improve this site</strong></a>.</p>
                    </aside>
                </div>
            </div>
        </footer>
{% block postbodyjs %}{% endblock %}
    </body>
</html>
