{% load static from staticfiles %}{% load raven %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block pagetitle %}Reconnecting Asia{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="summary" content="Reconnecting Asia maps new linkages—roads, railways, and other infrastructure—that are reshaping economic and geopolitical realities across the continent. Through data curation and objective analysis, the project aims to fill Asia's infrastructure-information gap, squaring lofty ambitions with facts on the ground.">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/site.min.css' %}" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="{% static 'js/lib/zepto.min.js' %}"></script>
    <script src="{% static 'js/lib/navigation.js' %}"></script>

    {% if sentry_public_dsn %}
    <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
    <script>
    Raven.config('{% sentry_public_dsn %}').install()
    </script>{% endif %} {% block extrahead %}{% endblock %} {% if GOOGLE_ANALYTICS_KEY %}
    <script>
    window.ga = window.ga || function() {
        (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', '{{GOOGLE_ANALYTICS_KEY}}', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    {% else %}
    <!-- Analytics disabled -->
    {% endif %}
</head>

<body class="{% block bodyclass %}{% endblock %}">
    <div id="site-wrapper">
        <div class="header-container-wrapper">
            <div class="header-top-wrapper">
    
                {% include "_navigation.html" %}
               
            </div>
            <!-- /header-container-wrapper -->
        </div>
        <!-- /header-top-wrapper -->
        <div class="body-container-wrapper">
            {% block content-shell %}
            <div class="content-wrap">
                {% block content %}{% endblock content %}
            </div>
            {% endblock %}
        </div>
        <!-- /site wrapper -->
    </div>
    <!-- /site wrapper -->
    <footer id="page-footer">
        <div class="wrap">
            <div class="branding">
                <img class="logo" src="{% static 'img/redesign/csis_logo_white.svg' %}" alt="Center for Strategic and International Studies">
                <address>
                    1616 Rhode Island Avenue, NW
                    <br /> Washington, DC 20036
                    <br /> Tel: 202.775.3242
                    <br />
                </address>
                <aside>
                    <p>This project, like many of the efforts it tracks, is a work in progress.
                        <br /><a href="{% url 'contribute' %}"><strong>Help us improve this site</strong></a></p>
                </aside>
            </div>
            <div class="quick-links">
                <h2 class="section-title">Quick Links</h3>
                    <nav>
                      <ul class="quick-links-left">
                            <li><a href="/">Home</a></li>
                            <li><a href="{% url 'website-map' %}">Map</a></li>
                            <li><a href="{% url 'database-home' %}">Database</a></li>
                            <li><a href="{% url 'writings:home' %}">Analysis</a></li>
                            <li><a href="{% url 'about' %}">About</a></li>
                        </ul>
                        <ul class="quick-links-right">
                            <li><a href="{% url 'glossary' %}">Glossary</a></li>
                            <li><a href="{% url 'methodology' %}">Methodology</a></li>
                            <li><a href="{% url 'map-help' %}">Help</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="newsletter-signup">
                    <h2 class="section-title">Stay Connected</h3>
                    <p>Get monthly updates with major news, events, and analysis.</p>
                    <a class="green-button" href="https://www.tfaforms.com/4603412" target="_blank" class="button"><div class="button-text">Sign Up</div></a>
                </div>
          
        </div>
        </div>
        <div id="lower-footer">
        <div class="content-wrapper">
        <div id="copywrite">
            &copy; 2018 by the Center for Strategic and  International Studies. All rights reserved.
        </div>

               <div class="social-icons">Follow us!
            <a href="https://www.facebook.com/reconnasia" rel="nofollow" alt="Facebook"><div class="facebook-icon"> <i class="fontello icon-facebook">&#xf09a;</i> </div></a>
            <a href="https://twitter.com/reconasia" rel="nofollow" alt="Twitter"><div class="twitter-icon"><i class="fontello icon-twitter">&#xf099;</i></div></a>
        </div>
<div class="clearfix"></div>
</div>
</div>
    </footer>
    <script type="text/javascript">
    Zepto(function($) {
        var iframes = $('iframe, a[data-flickr-embed]');
        iframes.parent().addClass('iframe-container');

        var searchForm = $('header div.site-search');
        searchForm.hide();
        $('a.search').on('click', function(event) {
            searchForm.toggle();
        });
    });
    </script>
    {% block postbodyjs %}{% endblock %}
</body>

</html>
