{% load static from staticfiles %}{% load raven %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block pagetitle %}Reconnecting Asia{% endblock %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="summary" content="Reconnecting Asia maps new linkages—roads, railways, and other infrastructure—that are reshaping economic and geopolitical realities across the continent. Through data curation and objective analysis, the project aims to fill Asia's infrastructure-information gap, squaring lofty ambitions with facts on the ground.">
        <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'css/site.min.css' %}" media="screen">
        <script src="{% static 'js/lib/zepto.min.js' %}"></script>
        {% if sentry_public_dsn %}
        <script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
        <script>Raven.config('{% sentry_public_dsn %}').install()</script>{% endif %}
{% block extrahead %}{% endblock %}
{% comment %}
    // TODO: Set up Analytics tracker code
        <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        // ga('create', 'UA-XXXXX-Y', 'auto');
        // ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
{% endcomment %}
    </head>
    <body class="{% block bodyclass %}{% endblock %}">
        <header role="banner">
            <div class="wrap">
                <div class="headers">
                    <a href="/"><h1>Reconnecting Asia</h1></a>
                    <h2>Mapping continental ambitions</h2>
                </div>
                {% include "_navigation.html" %}
            </div>
        </header>
        <div class='widows-peak'></div>
{% block content-shell %}
        <div class="content-wrap">
            {% block content %}{% endblock content %}
        </div>
{% endblock %}
        <footer>
            <div class="wrap">
                {% include "_navigation.html" with showhome=True %}
                <nav>
                    <ul>
                        <li><a href="{% url 'glossary' %}">Glossary</a></li>
                        <li><a href="{% url 'methodology' %}">Methodology</a></li>
                        <li><a href="{% url 'map-help' %}">Help</a></li>
                    </ul>
                </nav>
                <div class="branding">
                    <img class="logo" src="{% static 'img/csis_logo_gray.svg' %}" alt="Center for Strategic and International Studies">
                    <aside>
                        <p>This project, like many of the efforts it tracks, is a work in progress. <a href="#"><strong>Help us improve this site</strong></a>.</p>
                    </aside>
                </div>
            </div>
        </footer>
{% block postbodyjs %}{% endblock %}
    </body>
</html>
